@import url(common.css);


/*===================================
컨테이너
===================================*/
.container {
	padding-bottom: 6.5rem;
}


/*===================================
서브(공통)
===================================*/
.bg-pattern {
	background: url(../images/10th/bg-sub-pattern.png) no-repeat center top;
}

.sub-visual {
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100% auto;
}

.sub-visual .grid {
	position: relative;
	padding-bottom: 29.6875%;
}

.sub-visual .grid h2 {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	font-size: 1.1rem;
	font-weight: 400;
	color: #fff;
	line-height: 1.5;
	text-align: center;
	transform: translateY(-50%);
}

.sub-visual .grid h2 em {
	display: block;
	margin-bottom: 0.2rem;
	font-size: 2rem;
	font-weight: 700;
}

.sub-visual.sv3 {
	background-image: url(../images/10th/sub-visual-information.png);
}

.tabs {
	margin-bottom: 5rem;
	border-bottom: 1px solid #183d31;
}

.tabs .grid ul {
	display: flex;
}

.tabs .grid ul li {
	flex: 1;
}

.tabs .grid ul li a {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 6.4rem;
	font-size: 1.3rem;
	color: #183d31;
	text-align: center;
}

.tabs .grid ul li.active a {
	border-bottom: 0.25rem solid #183d31;
	font-weight: 700;
}

.s-tit {
	font-size: 1.5rem;
	color: #183d31;
}

.frm-wrap {
	padding: 4rem 0 3rem;
	border-bottom: 1px solid rgba(24, 61, 49, 0.2);
}

.frm-wrap:last-of-type {
	padding: 5rem 0 0;
	border-bottom: none;
}

.frm-wrap.no-bdr {
	padding-bottom: 0;
	border-bottom: none;
}

.frm-wrap h3 {
	margin: -0.5rem 0 2.7rem;
}

.frm-wrap h3.inc-desc {
	margin-bottom: 0.85rem;
}

.frm-wrap h3.inc-desc .desc {
	display: block;
	margin-top: 0.9rem;
	font-size: 0.9rem;
	font-weight: 400;
	color: #000;
}

.frm-wrap h3.inc-rad {
	display: flex;
	flex-wrap: wrap;
}

.frm-wrap h3.inc-rad .tit-txt {
	flex: none;
	min-width: 5.6rem;
	margin-right: 2.5rem;
}

.frm-wrap h3.inc-rad ul {
	display: flex;
}

.frm-wrap h3.inc-rad ul li input[type=radio] {
	display: none;
	width: 0;
	height: 0;
	margin: 0;
	-webkit-appearance: none;
}

.frm-wrap h3.inc-rad ul li label {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 8.5rem;
	height: 2.5rem;
	background-color: #edf2f0;
	font-size: 0.9rem;
	font-weight: 500;
}

.frm-wrap h3.inc-rad ul li input[type=radio]:checked + label {
	background-color: #183d31;
	color: #fff;
}

.frm-wrap .frm li {
	display: flex;
	align-items: center;
	margin-top: 1.5rem;
}

.frm-wrap .frm li:first-child {
	margin-top: 0;
}

.frm-wrap .frm li label {
	flex: none;
	min-width: 3.3rem;
	margin-right: 2.5rem;
	font-size: 0.9rem;
}

.frm-wrap .frm.basic li label {
	min-width: 5.6rem;
}

.frm-wrap .frm li input + .btn {
	height: 2.5rem;
	margin-left: 0.5rem;
	border-radius: 0;
	line-height: 2.4rem;
}

.frm-wrap .frm li .desc {
	font-size: 0.9rem;
	color: rgba(0, 0, 0, 0.5);
}

.frm-wrap .frm li .desc.red {
	color: #f78686;
}

.frm-wrap .frm li input + .desc {
	margin-left: 0.5rem;
}

.frm-wrap .frm li select {
	width: 100%;
}

.frm-wrap .frm li.flx-wr {
	flex-wrap: wrap;
}

.frm-wrap .frm li.flx-wr ul.flx {
	flex: 1;
}

.frm-wrap .frm li.flx-wr ul:last-child {
	margin-left: 2.5rem;
}

.frm-wrap .frm li.txta {
	display: block;
	max-height: 10.5rem;
	padding: 1rem;
	border-radius: 0.25rem;
	border: 1px solid rgba(182, 211, 202, 0.75);
	overflow-y: auto;
}

.frm-wrap .frm li.txta p {
	margin: 1rem 0;
}

.frm-wrap .frm li.agreement {
	display: block;
	margin-top: 1.35rem;
	text-align: right;
}

.frm-wrap .frm li.agreement label {
	min-width: 0;
	margin-right: 0;
}

.frm-wrap .frm li.inc-limit {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-top: 2.2rem;
	font-size: 0.9rem;
}

.frm-wrap .frm li.inc-limit:first-child {
	margin-top: 0;
}

.frm-wrap .frm li.inc-limit .limit {
	margin-left: 2rem;
	color: rgba(0, 0, 0, 0.5);
}

.frm-wrap .frm li.inc-limit + li {
	margin-top: 0.85rem;
}

.frm-wrap .frm li.upload input[type=file] {
	width: 100%;
	max-width: 32.5rem;
}

.frm-wrap .frm li.upload label {
	margin-right: 0;
}

.frm-wrap .frm li.upload + li {
	margin-top: 0.7rem;
}

.frm-wrap + .btn-wrap {
	margin-top: 4rem;
}


/*===================================
대회안내
===================================*/
.info-visual {
	position: relative;
	margin-bottom: 1.75rem;
	padding-bottom: 24.2753623%;
	background: url(../images/10th/bg-info-visual.png) no-repeat;
	background-size: 100% auto;
}

.info-visual .white-rect {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 86.0144927%;
	height: 20.5970149%;
	background-color: #fff;
}

.info-txt {
	display: flex;
	padding: 3.75rem 0 5.75rem;
	border-top: 1px solid rgba(24, 61, 49, 0.2);
}

.info-txt.first {
	padding-top: 0;
	border-top: none;
}

.info-txt h3 {
	flex: none;
	margin: 0 14.9275362% 0 0.1rem;
	padding: 0 0.35rem;
	font-weight: 500;
}

.info-txt h3:after {
	display: block;
	position: relative;
	top: -0.4rem;
	left: -0.35rem;
	z-index: -1;
	width: calc(100% + 0.7rem);
	height: 0.85rem;
	border-radius: 0.425rem;
	background: url(../images/10th/bg-sub-tit-pattern.png);
	content: "";
}

.info-txt .details {
	flex: 1;
}

.info-txt .details h4 {
	display: inline-block;
	min-width: 7rem;
	margin: 4rem 0 2rem;
	padding: 0.7rem 1.5rem 0.8rem;
	border-radius: 1.25rem;
	background-color: #629889;
	font-size: 1rem;
	color: #fff;
	line-height: 1;
}

.info-txt .details h4:first-child {
	margin-top: 0;
}

.info-txt .details h4.longer {
	min-width: 11.35rem;
}

.info-txt .details p {
	margin: -0.3rem 0 -0.2rem;
	font-size: 0.9rem;
	line-height: 1.55;
	letter-spacing: -0.02rem;
}

.info-txt .details .btn.beige {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 15rem;
	height: 2.5rem;
	margin-top: 2.8rem;
	padding: 0;
	border-radius: 1.25rem;
	font-size: 1rem;
	font-weight: 700;
}

.info-txt .details .timeline {
	display: flex;
}

.info-txt .details .timeline li {
	width: 20.3846153%;
	font-size: 0.9rem;
}

.info-txt .details .timeline li .term {
	display: flex;
	flex-direction: column-reverse;
	margin-bottom: 0.5rem;
}

.info-txt .details .timeline li .term:before {
	display: block;
	position: relative;
	top: -0.55rem;
	z-index: -1;
	height: 2px;
	background-color: #a8d4c6;
	content: "";
}

.info-txt .details .timeline li:last-child .term:before {
	display: none;
}

.info-txt .details .timeline li .term .point {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1rem;
	height: 1rem;
	border-radius: 100%;
	border: 2px solid #629889;
	background-color: #e4ece9;
}

.info-txt .details .timeline li .term .point span {
	display: block;
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 100%;
	background-color: #629889;
}

.info-txt .details .timeline li .term strong {
	margin-bottom: 0.6rem;
	font-weight: 500;
}

.info-txt .details h5 {
	margin: 4.55rem 0 1.5rem;
	font-size: 0.9rem;
}

.info-txt .details .bl.caution li {
	margin-top: 0.05rem;
	padding-left: 1.15rem;
	font-size: 0.9rem;
}

.info-txt + .btn-wrap {
	margin-top: 0;
}


/*===================================
지원하기
===================================*/
.pre-caution {
	display: flex;
	padding: 4.5rem 4.5rem 4.5rem 9.2028985%;
	background-color: #e7edeb;
	font-size: 0.9rem;
	color: #183d31;
}

.pre-caution .ctn-ico {
	flex: none;
	display: block;
	width: 8.65rem;
	height: 8.65rem;
	margin-right: 3rem;
	border-radius: 100%;
	background: #fff url(../images/10th/ico-precaution.png) no-repeat;
	background-size: 100%;
}

.pre-caution .ctn-txt h3 {
	margin-bottom: 1.5rem;
	font-size: 0.9rem;
}

.pre-caution.min {
	justify-content: center;
	padding: 2.5rem;
}

.pre-caution.min h3 {
	font-size: 1.5rem;
}

.frm-wrap .lgn {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-end;
	font-size: 0.9rem;
}

.frm-wrap .lgn > li {
	display: flex;
}

.frm-wrap .lgn > li .frm li {
	margin-top: 0.5rem;
}

.frm-wrap .lgn > li .frm li:first-child {
	margin-top: 0;
}

.frm-wrap .lgn > li > .btn {
	width: 17.25rem;
	height: 5.5rem;
	margin: 0 1rem 0 0.5rem;
	padding: 0 1rem;
}

.frm-wrap .lgn > li.other {
	margin-top: 1.75rem;
}

.frm-wrap .lgn > li.other a {
	position: relative;
	margin-left: 0.75rem;
	padding-left: 0.85rem;
}

.frm-wrap .lgn > li.other a:first-child {
	margin-left: 0;
}

.frm-wrap .lgn > li.other a:before {
	position: absolute;
	top: 50%;
	left: 0;
	width: 0.35rem;
	height: 0.35rem;
	border-radius: 100%;
	background-color: #b6d3ca;
	transform: translateY(-50%);
	content: "";
}

.frm-wrap.sns .btn-wrap {
	margin-top: 0;
}

.frm-wrap.sns .btn {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 4rem;
	margin: 0 0.175rem;
	padding: 0 1rem;
	border-radius: 0;
	line-height: 1;
	text-align: left;
}

.frm-wrap.sns .btn:first-child {
	margin-left: 0;
}

.frm-wrap.sns .btn:last-child {
	margin-right: 0;
}

.frm-wrap.sns .btn .ico {
	flex: none;
	display: block;
	width: 1.1rem;
	height: 1.1rem;
	margin-right: 0.75rem;
	background: url(../images/10th/ico-sp-btn-sns.png) no-repeat;
	background-size: auto 100%;
}

.frm-wrap.sns .btn.naver .ico {
	background-position: -2.1rem 0;
}

.frm-wrap.sns .btn.kakao .ico {
	background-position: -4.1rem 0;
}

.frm-wrap ol li {
	line-height: 1.6;
}

.frm-wrap .frm li.phase {
	align-items: flex-end;
}

.frm-wrap .frm li.phase ul.flx {
	flex: 1;
	margin-left: 1px;
}

.frm-wrap .frm li.phase ul.flx:first-child {
	margin-left: 0;
}

.frm-wrap .frm li.phase ul.flx li label {
	flex: 1;
	margin-right: 0;
	padding: 1.45rem 0 1.3rem;
	background-color: #89b2a7;
	background-image: none;
	line-height: 1.55;
	text-align: center;
	cursor: pointer;
}

.frm-wrap .frm li.phase ul.flx li input[type=checkbox]:checked + label {
	padding-top: 1.95rem;
	background-color: #183d31;
	font-weight: 500;
	color: #fff;
}

.rp-frm {
	margin-top: 3rem;
	padding-top: 3rem;
	border-top: 1px dashed rgba(24, 61, 49, 0.2);
}

.rp-frm:first-of-type {
	margin-top: 0;
	padding-top: 0;
	border-top: none;
}

.rp-frm + .btn-wrap,
.rp-frm > .btn-wrap {
	margin-top: 2rem;
}

.rp-frm + .btn-wrap {
	justify-content: flex-end;
}

.rp-frm + .btn-wrap .btn,
.rp-frm > .btn-wrap .btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 8.5rem;
	border-radius: 0;
	font-size: 0.9rem;
}

.rp-frm + .btn-wrap .btn {
	border-color: #629889;
	color: #629889;
}

.rp-frm > .btn-wrap .btn.red {
	border-color: #f78686;
	color: #f78686;
}

.rp-frm + .btn-wrap .btn i,
.rp-frm > .btn-wrap .btn i {
	position: relative;
	margin-left: 1.5rem;
}

.rp-frm + .btn-wrap .btn i span,
.rp-frm > .btn-wrap .btn i span {
	position: absolute;
	top: 50%;
	left: 0;
	width: 0.75rem;
	height: 0.05rem;
	transform: translateY(-50%);
}

.rp-frm + .btn-wrap .btn i span {
	background-color: #629889;
}

.rp-frm + .btn-wrap .btn i span:last-child {
	transform: rotate(90deg);
}

.rp-frm > .btn-wrap .btn.red i span {
	background-color: #f78686;
}

.frm-wrap .frm.basic + ol {
	margin-top: 2rem;
}

.frm-wrap .frm.basic + ol li {
	font-size: 0.9rem;
}

.frm-wrap .frm li .research-list {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 3rem;
}

.frm-wrap .frm li .research-list li {
	width: 33.3333333%;
	margin-top: 1rem;
}

.frm-wrap .frm li .research-list li:first-child {
	margin-top: 1rem;
}

.pre-caution.min .frm-wrap:last-of-type {
	padding-top: 0;
}

.pre-caution.min + .btn-wrap {
	margin-top: 4rem;
	padding-top: 4rem;
	border-top: 1px solid rgba(24, 61, 49, 0.2);
}


/*===================================
미디어쿼리
===================================*/
@media all and (max-width: 1275px) {
	/*===================================
	지원하기
	===================================*/
	.frm-wrap .frm li.flx-wr.custom1 ul:last-child {
		margin: 1.5rem 0 0;
	}

	.frm-wrap .frm li.flx-wr.custom2 ul {
		flex: none;
		width: 100%;
	}

	.frm-wrap .frm li.flx-wr.custom2 ul:last-child {
		margin: 1.5rem 0 0 0;
	}

	.frm-wrap .frm li.flx-wr.custom2 ul.blank {
		display: none;
	}
}

@media all and (max-width: 1203px) {
	/*===================================
	지원하기
	===================================*/
	.frm-wrap .frm li .research-list li {
		width: 50%;
	}
}

@media all and (max-width: 1139px) {
	/*===================================
	대회안내
	===================================*/
	.info-txt .details .timeline li {
		width: 25%;
	}
}

@media all and (max-width: 896px) {
	/*===================================
	대회안내
	===================================*/
	.info-txt {
		flex-direction: column;
	}

	.info-txt h3 {
		margin: 0 0 1.6rem;
	}
}

@media all and (max-width: 767px) {
	/*===================================
	서브(공통)
	===================================*/
	.sub-visual {
		background-size: auto 100%;
	}

	.sub-visual .grid {
		padding-bottom: 56.25%;
	}


	/*===================================
	지원하기
	===================================*/
	.pre-caution {
		padding: 1.5rem 1rem;
	}

	.pre-caution .ctn-ico {
		width: 4.3rem;
		height: 4.3rem;
		margin-right: 1rem;
	}
}

@media all and (max-width: 746px) {
	/*===================================
	서브(공통)
	===================================*/
	.frm-wrap .frm {
		flex: 1;
	}


	/*===================================
	지원하기
	===================================*/
	.frm-wrap .lgn > li {
		width: 100%;
	}

	.frm-wrap .lgn > li > .btn {
		/*width: auto;*/
		margin-right: 0;
	}
}

@media all and (max-width: 695px) {
	/*===================================
	지원하기
	===================================*/
	.frm-wrap .frm li .research-list li {
		width: 100%;
	}
}

@media all and (max-width: 512px) {
	/*===================================
	지원하기
	===================================*/
	.frm-wrap.sns .btn-wrap {
		flex-direction: column;
	}

	.frm-wrap.sns .btn {
		flex: none;
		margin: 0.25rem 0;
	}

	.frm-wrap.sns .btn:first-child {
		margin-top: 0;
	}
}

@media all and (min-width: 415px) {
	/*===================================
	대회안내
	===================================*/
	.info-visual .white-rect {
		display: block;
	}

	.info-txt .details .timeline li .show414 {
		display: inline;
	}
}

@media all and (max-width: 414px) {
	/*===================================
	대회안내
	===================================*/
	.info-visual .white-rect {
		display: none;
	}

	.info-txt .details .timeline li .hide414 {
		display: none;
	}


	/*===================================
	서브(공통)
	===================================*/
	.frm-wrap .frm li input[type=text],
	.frm-wrap .frm li input[type=tel],
	.frm-wrap .frm li input[type=password] {
		width: 100%;
	}

	.frm-wrap .frm li label {
		margin-right: 1rem;
	}

	.frm-wrap .frm li input + .btn {
		min-width: 5.2857142rem;
		padding: 0 0.5rem;
	}

	.frm-wrap .frm li input + .desc {
		margin-left: 0;
	}

	/*
	.frm-wrap .frm.basic li {
		position: relative;
		padding-left: 6.6rem;
	}

	.frm-wrap .frm.basic li label {
		position: absolute;
		top: 0.5rem;
		left: 0;
		margin-right: 0;
	}
	*/

	/*===================================
	지원하기
	===================================*/
	.frm-wrap .frm li.flx-wr.custom1 ul:first-child {
		width: 100%;
	}

	.frm-wrap .frm li.flx-wr.custom1 ul:last-child li {
		align-items: flex-start;
	}

	.frm-wrap .frm li.flx-wr.custom1 ul:last-child li label {
		margin-top: 8px;
	}

	.frm-wrap .frm li.flx-wr.custom1 ul:last-child li > span {
		width: calc(100% - 6.6rem);
	}
}