<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>지원하기 | 10회 참가신청 | 정주영 창업경진대회 10</title>
	<meta name="title" content="정주영 창업경진대회 10">
	<meta name="description" content="아산나눔재단 실전형 창업 지원 프로그램">
	<meta property="og:title" content="정주영 창업경진대회 10">
	<meta property="og:type" content="website">
	<meta property="og:image" content="../../content/og.png">
	<meta property="og:description" content="아산나눔재단 실전형 창업 지원 프로그램">

	<link rel="stylesheet" href="../../content/styles/sub.css">

	<script src="../../content/scripts/jquery-1.12.4.min.js"></script>
	<script src="../../content/scripts/common.js"></script>
</head>
<body>
	<header>
		<div class="grid">
			<h1><a href="index.html">정주영 창업경진대회</a></h1>
			<a href="javascript:;" class="m-show mobile-menu"><span>메뉴</span></a>
			<a href="javascript:;" class="menu-close"><span>닫기</span></a>
			<nav>
				<ul class="gnb m-hide">
					<li class="g1">
						<a href="introoutline.html">소개</a>
						<ul class="snb s1">
							<li>
								<a href="introoutline.html">정주영 창업경진대회</a>
							</li>
							<li>
								<a href="summary.html">히스토리</a>
							</li>
							<li>
								<a href="benefit.html">혜택</a>
							</li>
						</ul>
					</li>
					<li class="g2">
						<a href="partner.html">파트너</a>
					</li>
					<li class="g3">
						<a href="information.html">10회 참가신청</a>
						<ul class="snb s3">
							<li>
								<a href="information.html">대회안내</a>
							</li>
							<li>
								<a href="apply.html">참가신청</a>
							</li>
							<li>
								<a href="mypage.html">결과확인</a>
							</li>
						</ul>
					</li>
					<li class="g4">
						<a href="notice-list.html">공지/문의</a>
						<ul class="snb s4">
							<li>
								<a href="notice-list.html">공지사항</a>
							</li>
							<li>
								<a href="faq.html">FAQ</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</div><!--// grid -->
		<div class="bg-snb"></div>
	</header>

	<div class="container">
		<div class="sub-visual sv3 ani-area backgrondCircleAni on">
			<div class="grid flShowYAni on delay-0-75s">
				<h2>
					<em>2021년 정주영 창업경진대회 10회와 함께</em>
					도전하고, 성장할 여러분을 기다립니다!
				</h2>
			</div><!--// grid -->
		</div>

		<div class="inner bg-pattern">
			<div class="tabs">
				<div class="grid">
					<ul class="t2">
						<li><a href="information.html">대회안내</a></li>
						<li class="active"><a href="apply.html">지원하기</a></li>
					</ul>
				</div><!--// grid -->
			</div>

			<div class="apply">
				<div class="grid">
					<div class="pre-caution">
						<div class="ctn-txt">
							<ul class="bl caution">
								<li>지원자 기본정보에 등록한 이름, 이메일은 수정이 불가능하니 신중하게 작성하세요.</li>
								<li>해당 페이지는 최초 1회만 노출됩니다.</li>
							</ul>
						</div>
					</div>

					<div class="frm-wrap">
						<h3 class="s-tit">지원자 기본 정보 등록</h3>
						<ul class="frm basic">
							<li>
								<label for="txt0">이름</label>
								<input type="text" id="txt0" maxlength="5" />
							</li>
							<li>
								<label for="txt1">아이디(이메일)</label>
								<input type="text" id="txt1" maxlength="25" />
								<a href="javascript:;" class="btn inv">인증메일발송</a>
							</li>
							<li>
								<label for="txt2">인증번호</label>
								<input type="text" id="txt2" maxlength="12" />
								<a href="javascript:;" class="btn primary">인증</a>
							</li>
							<li>
								<label for="txt3">생년월일</label>
								<input type="text" id="txt3" maxlength="10" />
							</li>
							<li class="flx-wr custom1">
								<ul>
									<li>
										<label for="pwd1">비밀번호</label>
										<input type="password" id="pwd1" maxlength="25" />
									</li>
								</ul>
								<ul>
									<li class="flx-wr">
										<label for="pwd2">비밀번호확인</label>
										<span>
											<input type="password" id="pwd2" maxlength="25" />
											<span class="desc">※ 영문+숫자+특수문자 8자 이상 조합</span>
										</span>
									</li>
								</ul>
							</li>
						</ul>
					</div><!--// frm-wrap -->

					<div class="frm-wrap no-bdr">
						<h3 class="s-tit">개인정보 수집 및 이용 동의 (필수)</h3>
						<ul class="frm">
							<li class="txta">
								<h4>아산나눔재단 &quot;정주영 창업경진대회&quot; 개인정보처리방침</h4>
								<p>
									아산나눔재단(이하 '재단'이라 합니다.)은 정주영 창업경진대회를 통해 수집한 개인정보를 관리함에 있어서 「개인정보보호법」에서 규정하고 있는 책임과 의무를 준수하고 있습니다. 개인정보 수집 및 이용과 관련하여 다음의 몇 가지 사항을 안내 드리오니, 관련내용을 숙지하신 후 해당 내용에 동의하여 주시기 바랍니다. 귀하께서는 동의를 거부할 권리가 있으며, 경진대회 운영에 필요한 최소한의 개인정보 수집이 불가능할 경우에는 정상적인 참여 및 활동이 진행되지 않을 수 있음을 알려드립니다.
								</p>
								<p>
									<strong>1. 수집하는 개인정보 항목 및 수집방법</strong><br />
									재단은 신청자 접수, 확인 등을 위해 웹사이트를 통한 신청 시 다음과 같은 개인정보를 수집하고 있습니다.<br />
									- 수집항목 : 이름, 생년월일, 휴대전화번호, 이메일, 소속, 경력사항
								</p>
								<p>
									<strong>2. 개인정보 수집 및 이용목적</strong><br />
									수집된 개인정보는 수집 목적 외에 어떠한 용도로도 사용되지 않습니다.<br />
									- 정주영 창업경진대회 10 신청, 활동 및 운영
								</p>
								<p>
									<strong>3.개인정보 이용 및 보유 기간</strong><br />
									수집된 개인정보는 목적이 달성된 이후 파기하는 것을 원칙으로 합니다.<br />
									- 이용기간 : 수집 및 이용 동의일로부터 1년까지<br />
									- 보유기간 : 수집 및 이용 동의일로부터 10년까지<br />
									(*) 상증세법 제51조(장부의 작성·비치 의무) 공익법인 등은 장부와 중요한 증명서류는 해당 공익법인 등의 소득세 과세기간 또는 법인세 사업연도의 종료일부터 10년간 보존하여야 한다.
								</p>
								<p>
									<strong>4. 개인정보에 관한 민원서비스</strong><br />
									기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.<br />
									- 개인분쟁조정위원회 (<a href="http://www.1336.or.kr" target="_blank" title="개인분쟁조정위원회(새창열림)">http://www.1336.or.kr</a> / 1336)<br />
									- 정보보호마크인증위원회 (<a href="http://www.eprivacy.or.kr" target="_blank" title="정보보호마크인증위원회(새창열림)">http://www.eprivacy.or.kr</a> / 02-580-0533~4)<br />
									- 대검찰청 인터넷범죄수사센터 (<a href="ttp://icic.sppo.go.kr" target="_blank" title="대검찰청 인터넷범죄수사센터(새창열림)">http://icic.sppo.go.kr</a> / 02-3480-3600)<br />
									- 경찰청 사이버테러대응센터 (<a href="ttp://icic.sppo.go.kr" target="_blank" title="경찰청 사이버테러대응센터(새창열림)">http://www.ctrc.go.kr</a> / 02-392-0330)
								</p>
							</li>
							<li class="agreement">
								<input type="checkbox" id="chk1" />
								<label for="chk1">동의합니다.</label>
							</li>
						</ul>
					</div><!--// frm-wrap -->

					<div class="frm-wrap no-bdr">
						<h3 class="s-tit">개인 정보 위탁 동의 (필수)</h3>
						<ul class="frm">
							<li class="txta">
								<p>
									재단은 대회 진행 및 운영을 위해 아래와 같이 귀하의 개인정보를 외부 전문업체에 위탁하여 운영하고 있으며, 관계 법령에 따라 위탁 계약 시 개인정보가 안전하게 관리될 수 있도록 필요한 사항을 규정하고 있습니다.<br />
									- 위탁 대상자 : (주)대학내일<br />
									- 제공하는 개인정보 항목 : 이름, 생년월일, 휴대전화번호, 이메일, 소속, 경력사항<br />
									- 제공 정보의 보유 및 이용 기간 : 이용목적이 달성된 후 즉시 파기
								</p>
							</li>
							<li class="agreement">
								<input type="checkbox" id="chk2" />
								<label for="chk2">동의합니다.</label>
							</li>
						</ul>
					</div><!--// frm-wrap -->

					<div class="frm-wrap">
						<h3 class="s-tit">필수 확인 사항</h3>
						<ol>
							<li>
								정주영 창업경진대회 10 모집 기준을 한 번 더 확인하여 신청해 주시기 바랍니다.
								<ul class="bl hyphen">
									<li>예비창업자 또는 창업 2년 이내 기업(2019년 3월 1일 이후 설립 기준)</li>
									<li>1~8명으로 구성된 개인 또는 팀</li>
									<li>사업 분야는 제한 없음(단, 사행/유흥 업종은 제외)</li>
								</ul>
							</li>
							<li>
								정주영 창업경진대회 10 선발 일정은 다음과 같이 진행됩니다.
								<ul class="bl hyphen">
									<li>서류 심사 발표 : 4/23(목) ~ 4/24(금)</li>
									<li>1차 면접 심사 : 4/29(목) ~ 4/30(금)</li>
									<li>2차 면접 심사 : 5/7(금)</li>
									<li>최종 발표 : 5/10(월)</li>
								</ul>
							</li>
							<li>모든 심사 결과는 지원서에 기입한 이메일로 안내하오니 정확하게 입력해 주시기 바랍니다.</li>
							<li>지원서는 중간 저장이 가능합니다. 모집 마감일 4월 5일(월) 14시 전까지 최종 작성 후 제출 완료해 주시기 바랍니다.</li>
							<li>
								정주영 창업경진대회에 선발된 팀은 5월 24일(월)부터 8월 29(일)까지 약 14주간의 사업 실행 기간이 진행됩니다. 해당 기간 동안 마루180(강남구 역삼로)에 입주가 가능하며,
								아산나눔재단에서 제공하는 다양한 액셀러레이팅 과정(멘토링, 네트워킹 등)을 경험하게 됩니다.
							</li>
							<li>
								정주영 창업경진대회 사업 실행 기간 이후에는 결선 데모데이 행사가 진행됩니다. 다양한 스타트업 관계자(VC, 미디어 등)이 참석한 자리에서, 사업을 소개하는 시간을
								가지게 됩니다. 결선 총상금은 1억 6천 5백만 원 규모입니다.
							</li>
							<li>작성 시 궁금한 점은 홈페이지 내 공지 및 문의 페이지를 확인해 주시기 바랍니다. 또는 <a href="mailto:startup@asan-nanum.org">startup@asan-nanum.org</a> 로 연락 주시기 바랍니다.</li>
						</ol>
						<ul class="frm">
							<li class="agreement">
								<input type="checkbox" id="chk3" />
								<label for="chk3">모두 확인 했습니다.</label>
							</li>
						</ul>
					</div><!--// frm-wrap -->

					<div class="btn-wrap">
						<a href="javascript:history.back();" class="btn inv md">취소</a>
						<a href="apply_step2.html" class="btn md primary">다음</a>
					</div>

				</div><!--// grid -->
			</div><!--// information -->
		</div><!--// inner -->
	</div><!--// container -->

	<footer>
		<div class="ft-top v1">
			<div class="grid">
				<ul class="sponsor">
					<li class="sub-tit">후원</li>
					<li><a href="http://www.kocca.kr" target="_blank" title="새창열림">한국콘텐츠진흥원</a></li>
				</ul>
				<ul class="sns">
					<li class="asan">
						<a href="https://asan-nanum.org" target="_blank" title="새창열림">
							<i></i>
							아산나눔재단
						</a>
					</li>
					<li class="instagram">
						<a href="https://www.instagram.com/asan_nanum" target="_blank" title="새창열림">
							<i></i>
							Instagram
						</a>
					</li>
					<li class="blog">
						<a href="https://blog.naver.com/asan_nanum" target="_blank" title="새창열림">
							<i></i>
							Blog
						</a>
					</li>
					<li class="youtube">
						<a href="https://www.youtube.com/channel/UCGcV3lb8krcPJqxW4Pi0ofg" target="_blank" title="새창열림">
							<i></i>
							Youtube
						</a>
					</li>
					<li class="subscribe"><a href="http://eepurl.com/dluA7r" class="btn" target="_blank" title="새창열림">뉴스레터 신청</a></li>
				</ul>
			</div><!--// grid -->
		</div>
		<div class="ft-btm">
			<div class="grid">
				<div class="bi">정주영 창업경진대회</div>
				<div class="contact">
					<ul>
						<li>서울시 강남구 역삼로 180</li>
						<li>TEL. 02-3453-1368</li>
						<li>E-Mail : <a href="mailto:startup@asan-nanum.org">startup@asan-nanum.org</a></li>
					</ul>
					<div>Copyright © The Asan Nanum Foundation. All rights reserved.</div>
				</div>
				<div class="privacy-policy"><a href="privacy.html" class="btn">개인정보처리방침</a></div>
			</div><!--// grid -->
		</div>
	</footer>
	<div class="mask"></div>
</body>
</html>