<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>혜택 | 소개 | 정주영 창업경진대회 10</title>
	<meta name="title" content="정주영 창업경진대회 10">
	<meta name="description" content="아산나눔재단 실전형 창업 지원 프로그램">
	<meta property="og:title" content="정주영 창업경진대회 10">
	<meta property="og:type" content="website">
	<meta property="og:image" content="../../content/og.png">
	<meta property="og:description" content="아산나눔재단 실전형 창업 지원 프로그램">

	<link rel="stylesheet" href="../../content/styles/sub.css">

	<script src="../../content/scripts/jquery-1.12.4.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="../../content/scripts/common.js"></script>
</head>
<body>
	<header>
		<div class="grid">
			<h1><a href="index.html">정주영 창업경진대회</a></h1>
			<a href="javascript:;" class="m-show mobile-menu"><span>메뉴</span></a>
			<a href="javascript:;" class="menu-close"><span>닫기</span></a>
			<nav>
				<ul class="gnb m-hide">
					<li class="g1">
						<a href="introoutline.html">소개</a>
						<ul class="snb s1">
							<li>
								<a href="introoutline.html">정주영 창업경진대회</a>
							</li>
							<li>
								<a href="summary.html">히스토리</a>
							</li>
							<li>
								<a href="benefit.html">혜택</a>
							</li>
						</ul>
					</li>
					<li class="g2">
						<a href="partner.html">파트너</a>
					</li>
					<li class="g3">
						<a href="information.html">10회 참가신청</a>
						<ul class="snb s3">
							<li>
								<a href="information.html">대회안내</a>
							</li>
							<li>
								<a href="apply.html">참가신청</a>
							</li>
							<li>
								<a href="mypage.html">결과확인</a>
							</li>
						</ul>
					</li>
					<li class="g4">
						<a href="notice-list.html">공지/문의</a>
						<ul class="snb s4">
							<li>
								<a href="notice-list.html">공지사항</a>
							</li>
							<li>
								<a href="faq.html">FAQ</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</div><!--// grid -->
		<div class="bg-snb"></div>
	</header>

	<div class="container">
		<div class="sub-visual sv1-3 ani-area backgrondCircleAni on">
			<div class="grid flShowYAni on delay-0-75s">
				<h2>
					<em>정주영 창업경진대회는</em>
					일회성이 아닌 지속가능한 혜택을 제공합니다.
				</h2>
			</div><!--// grid -->
		</div>

		<div class="inner bg-pattern">
			<div class="startup-benefit">
				<div class="grid">
					<h3 class="s-tit2"><span>창업지원 혜택</span></h3>
					<ul class="bnf-list">
						<li class="bnf1">
							<ul>
								<li><h4 class="s-tit">사업실행 선발팀 대상</h4></li>
								<li><span class="ico"></span></li>
							</ul>
							<ol>
								<li>벤처캐피털, 액셀러레이터 전담 멘토링</li>
								<li>팀당 250만원 시드머니 지급</li>
								<li>마루180 사무공간 무료 제공</li>
								<li>마루180 입주민 베네핏 무료 제공(AWS, NOTION 등)</li>
								<li>액셀러레이팅 교육 프로그램 제공(마케팅, HR, 투자, 프레젠테이션 등)</li>
								<li>지방 참가자 교통비 지원</li>
							</ol>
						</li>
						<li class="bnf2">
							<ul>
								<li><h4 class="s-tit">총 상금 1억 6천 5백만원</h4></li>
								<li><span class="ico"></span></li>
							</ul>
							<ol>
								<li>대상 5,000만 원 (1팀)</li>
								<li>최우수상 2,000만 원 (2팀)</li>
								<li>우수상 1,000만 원 (4팀)</li>
								<li>장려상 500만 원 (5팀)</li>
								<li>특별상 1,000만 원 (중복수상 1팀)</li>
							</ol>
						</li>
						<li class="bnf3">
							<ul>
								<li><h4 class="s-tit">대회 이후</h4></li>
								<li><span class="ico"></span></li>
							</ul>
							<ol>
								<li>벤처캐피털 연결, 엔젤 매칭 펀드 관련 자문 등 후속 투자 지원</li>
								<li>마루180 베네핏 등 지속적인 사업 지원 혜택 공유</li>
							</ol>
						</li>
					</ul>
				</div><!--// grid -->
			</div><!--// benefit -->

			<div class="bnr bnf">
				<div class="grid">
					<a href="partner.html">
						<em>정주영 창업경진대회 참가자들의 성공 멘토가 되어줄 <strong>파트너 보러가기</strong></em>
						<span class="ico arr"></span>
					</a>
				</div>
			</div>
		</div><!--// inner -->
	</div><!--// container -->

	<footer>
		<div class="ft-top v1">
			<div class="grid">
				<ul class="sns">
					<li class="asan">
						<a href="https://asan-nanum.org" target="_blank" title="새창열림">
							<i></i>
							아산나눔재단
						</a>
					</li>
					<li class="blog">
						<a href="https://blog.naver.com/asan_nanum" target="_blank" title="새창열림">
							<i></i>
							Blog
						</a>
					</li>
					<li class="youtube">
						<a href="https://www.youtube.com/channel/UCGcV3lb8krcPJqxW4Pi0ofg" target="_blank" title="새창열림">
							<i></i>
							Youtube
						</a>
					</li>
					<li class="subscribe"><a href="http://eepurl.com/dluA7r" class="btn" target="_blank" title="새창열림">뉴스레터 신청</a></li>
				</ul>
			</div><!--// grid -->
		</div>
		<div class="ft-btm">
			<div class="grid">
				<div class="bi">정주영 창업경진대회</div>
				<div class="contact">
					<ul>
						<li>서울특별시 중구 동호로 208</li>
						<li>TEL. 02-3453-1368</li>
						<li>E-Mail : <a href="mailto:startup@asan-nanum.org">startup@asan-nanum.org</a></li>
					</ul>
					<div>Copyright © The Asan Nanum Foundation. All rights reserved.</div>
				</div>
				<div class="privacy-policy"><a href="privacy.html" class="btn">개인정보처리방침</a></div>
			</div><!--// grid -->
		</div>
	</footer>
	<div class="mask"></div>
</body>
</html>