<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>정주영 창업경진대회 10</title>
	<meta name="title" content="정주영 창업경진대회 10">
	<meta name="description" content="아산나눔재단 실전형 창업 지원 프로그램">
	<meta property="og:title" content="정주영 창업경진대회 10">
	<meta property="og:type" content="website">
	<meta property="og:image" content="../../content/og.png">
	<meta property="og:description" content="아산나눔재단 실전형 창업 지원 프로그램">

	<link rel="stylesheet" href="../../content/styles/main.css">

	<script src="../../content/scripts/jquery-1.12.4.min.js"></script>
	<script src="../../content/scripts/common.js"></script>
</head>
<body>
	<header class="main">
		<div class="grid">
			<h1><a href="index.html">정주영 창업경진대회</a></h1>
			<a href="javascript:;" class="m-show mobile-menu"><span>메뉴</span></a>
			<a href="javascript:;" class="menu-close"><span>닫기</span></a>
			<nav>
				<ul class="gnb" class="m-hide">
					<li class="g1">
						<a href="introoutline.html">소개</a>
						<ul class="snb s1">
							<li>
								<a href="introoutline.html">정주영 창업경진대회</a>
							</li>
							<li>
								<a href="summary.html">히스토리</a>
							</li>
							<li>
								<a href="benefit.html">혜택</a>
							</li>
						</ul>
					</li>
					<li class="g2">
						<a href="partner.html">파트너</a>
					</li>
					<li class="g3">
						<a href="information.html">10회 참가신청</a>
						<ul class="snb s3">
							<li>
								<a href="information.html">대회안내</a>
							</li>
							<li>
								<a href="apply.html">참가신청</a>
							</li>
							<li>
								<a href="mypage.html">결과확인</a>
							</li>
						</ul>
					</li>
					<li class="g4">
						<a href="notice-list.html">공지/문의</a>
						<ul class="snb s4">
							<li>
								<a href="notice-list.html">공지사항</a>
							</li>
							<li>
								<a href="faq.html">FAQ</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</div><!--// grid -->
		<div class="bg-snb"></div>
	</header>

	<section class="main-visual">
		<div class="video-block">
			<div class="overlay"></div>
			<video playsinline autoplay loop muted>
				<source src="../../content/videos/main-visual.mp4" type="video/mp4">
				이 브라우저는 video 태그를 지원하지 않습니다.
			</video>
		</div>
		<div class="grid">
			<img src="../../content/images/10th/main-visual-txt.png" alt="정주영 창업경진대회 10 / 이봐, 해봤어? 峨山 정주영 / 나는 인간이 스스로 한계라고 규정짓는 일에 도전하여 그것을 이루어 내는 기쁨을 보람으로 기업을 해왔고 오늘도 도전을 계속하고 있다. / 아산 정주영 회장의 도전과 창조 정신을 물려받은 이 시대 젊은 스타트업 기업을 찾습니다." />
			<a href="javascript:;" class="btn">10회 참가 신청</a>
		</div><!--// grid -->
	</section>

	<section class="overview-top">
		<div class="grid">
			<div class="video-link">
				<span class="ico"><img src="../../content/images/10th/ico-play.png" alt="" /></span>
				<h2>정주영 창업경진대회는</h2>
				<p>
					전국에 기업가정신과 창업 문화를 확산하고,
					<span class="linebreak1420over">유망한 스타트업을 발굴하여 지원하는</span>
					아산나눔재단의  실전형 창업 지원 프로그램입니다.
				</p>
				<a href="javascript:;" class="btn">영상으로 자세히 알아보기</a>
			</div>
		</div><!--// grid -->
	</section>

	<section class="overview-btm">
		<div class="grid">
			<p>
				참가팀들은 아산나눔재단과 함께
				<strong>
					<span class="linebreak1420over">모집부터 데모데이까지 약 6개월의 여정을 통해</span>
					창업생태계의 일원으로 성장하게 됩니다.
				</strong>
			</p>
			<a href="javascript:;" class="btn">자세히 알아보기</a>
			<div class="process">
				<img src="../../content/images/10th/process-img.png" alt="" />
				<ul>
					<li>
						<h3>모집</h3>
						<p>
							<span class="linebreak1420over">예비창업자 및</span>
							창업 2년 이내 기업 모집
						</p>
					</li>
					<li>
						<h3>사전설명회</h3>
						<p>
							<span class="linebreak1420over">사업 소개 및 절차 안내,</span>
							스타트업 연사 특강
						</p>
					</li>
					<li>
						<h3>선발심사</h3>
						<p>
							3단계 선발 심사<br />
							(서류 및 1·2차 면접)
						</p>
					</li>
					<li>
						<h3>사업실행</h3>
						<p>
							<span class="linebreak1420over">총 14주 사업 실행,</span>
							액셀러레이팅 과정
						</p>
					</li>
					<li>
						<h3>데모데이</h3>
						<p>
							<span class="linebreak1420over">사업 발표,</span>
							총 상금 1억 6천 5백만 원
						</p>
					</li>
				</ul>
			</div>
		</div><!--// grid -->
	</section>

	<section class="benefit">
		<div class="grid">
			<div class="bnf-top">
				<h2>
					<em>왜</em>
					정주영<br />
					창업경진대회인가?
				</h2>
				<p>
					많은 창업경진대회 중,<br />
					왜 많은 사람들이 정주영 창업경진대회를 도전할까요?
				</p>
			</div>
			<div class="bnf-btm">
				<p>10회까지 이어진 정주영 창업경진대회만의 특별한 혜택들을 공개합니다.</p>
				<ul>
					<li>
						<span class="num">01</span>
						<p>
							총 상금<br />
							1억 6천 5백만 원
						</p>
					</li>
					<li>
						<span class="num">02</span>
						<p>
							팀당 250만원<br />
							시드머니 지급  
						</p>
					</li>
					<li>
						<span class="num">03</span>
						<p>
							벤처캐피털, 엔젤 매칭<br />
							펀드 등 후속 투자 연계 지원
						</p>
					</li>
					<li>
						<span class="num">04</span>
						<p>
							클라우드 서비스,<br />
							보안 솔루션, 복지혜택 등<br />
							업무용 인프라 제공  
						</p>
					</li>
					<li>
						<span class="num">05</span>
						<p>
							투자, 기술 자문,<br />
							마케팅, 피칭 등<br />
							맞춤형 교육 프로그램 제공
						</p>
					</li>
					<li>
						<span class="num">06</span>
						<p>
							지방 참가자<br />
							교통비 지원
						</p>
					</li>
					<li>
						<span class="num">07</span>
						<p>
							VC, 액셀러레이터<br />
							파트너 전담 멘토링
						</p>
					</li>
					<li>
						<span class="num">08</span>
						<p>
							마루180<br />
							사무공간 무료제공
						</p>
					</li>
				</ul>
			</div>
			<div class="btn-wrap">
				<a href="javascript:;" class="btn">혜택 자세히 알아보기</a>
			</div>
		</div><!--// grid -->
	</section>

	<section class="mentor">
		<div class="grid">
			<h2>
				10회 경진대회 참가팀을 성장시켜 줄
				<strong>6인의 멘토를 소개합니다.</strong>
			</h2>
			<ul>
				<li>
					<span class="mnt-img"><img src="../../content/images/10th/profile-no-img.png" alt="" /></span>
					<span class="mnt-name">홍길동 상무</span>
					<span class="mnt-profile">롯데 액셀러레이터</span>
				</li>
				<li>
					<span class="mnt-img"><img src="../../content/images/10th/profile-no-img.png" alt="" /></span>
					<span class="mnt-name">홍길동 상무</span>
					<span class="mnt-profile">롯데 액셀러레이터</span>
				</li>
				<li>
					<span class="mnt-img"><img src="../../content/images/10th/profile-no-img.png" alt="" /></span>
					<span class="mnt-name">홍길동 상무</span>
					<span class="mnt-profile">롯데 액셀러레이터</span>
				</li>
				<li>
					<span class="mnt-img"><img src="../../content/images/10th/profile-no-img.png" alt="" /></span>
					<span class="mnt-name">홍길동 상무</span>
					<span class="mnt-profile">롯데 액셀러레이터</span>
				</li>
				<li>
					<span class="mnt-img"><img src="../../content/images/10th/profile-no-img.png" alt="" /></span>
					<span class="mnt-name">홍길동 상무</span>
					<span class="mnt-profile">롯데 액셀러레이터</span>
				</li>
				<li>
					<span class="mnt-img"><img src="../../content/images/10th/profile-no-img.png" alt="" /></span>
					<span class="mnt-name">홍길동 상무</span>
					<span class="mnt-profile">롯데 액셀러레이터</span>
				</li>
			</ul>
		</div><!--// grid -->
	</section>

	<footer>
		<div class="ft-top v1">
			<div class="grid">
				<ul class="sponsor">
					<li class="sub-tit">후원</li>
					<li><a href="http://www.kocca.kr" target="_blank" title="새창열림">한국콘텐츠진흥원</a></li>
				</ul>
				<ul class="sns">
					<li class="asan">
						<a href="javascript:;" target="_blank" title="새창열림">
							<i></i>
							아산나눔재단
						</a>
					</li>
					<li class="instagram">
						<a href="javascript:;" target="_blank" title="새창열림">
							<i></i>
							Instagram
						</a>
					</li>
					<li class="blog">
						<a href="javascript:;" target="_blank" title="새창열림">
							<i></i>
							Blog
						</a>
					</li>
					<li class="youtube">
						<a href="javascript:;" target="_blank" title="새창열림">
							<i></i>
							Youtube
						</a>
					</li>
					<li class="subscribe"><a href="http://eepurl.com/dluA7r" class="btn" target="_blank" title="새창열림">뉴스레터 신청</a></li>
				</ul>
			</div><!--// grid -->
		</div>
		<div class="ft-btm">
			<div class="grid">
				<div class="bi">정주영 창업경진대회</div>
				<div class="contact">
					<ul>
						<li>서울시 강남구 역삼로 180</li>
						<li>TEL. 02-3453-1368</li>
						<li>E-Mail : <a href="mailto:startup@asan-nanum.org">startup@asan-nanum.org</a></li>
					</ul>
					<div>Copyright © The Asan Nanum Foundation. All rights reserved.</div>
				</div>
				<div class="privacy-policy"><a href="../../data/2021_terms.pdf" class="btn">개인정보처리방침</a></div>
			</div><!--// grid -->
		</div>
	</footer>
	<div class="mask"></div>
</body>
</html>