<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>대회안내 | 10회 참가신청 | 정주영 창업경진대회 10</title>
	<meta name="title" content="정주영 창업경진대회 10">
	<meta name="description" content="아산나눔재단 실전형 창업 지원 프로그램">
	<meta property="og:title" content="정주영 창업경진대회 10">
	<meta property="og:type" content="website">
	<meta property="og:image" content="../../content/og.png">
	<meta property="og:description" content="아산나눔재단 실전형 창업 지원 프로그램">

	<link rel="stylesheet" href="../../content/styles/sub.css">

	<script src="../../content/scripts/jquery-1.12.4.min.js"></script>
	<script src="../../content/scripts/common.js"></script>
</head>
<body>
	<header>
		<div class="grid">
			<h1><a href="index.html">정주영 창업경진대회</a></h1>
			<a href="javascript:;" class="m-show mobile-menu"><span>메뉴</span></a>
			<a href="javascript:;" class="menu-close"><span>닫기</span></a>
			<nav>
				<ul class="gnb m-hide">
					<li class="g1">
						<a href="introoutline.html">소개</a>
						<ul class="snb s1">
							<li>
								<a href="introoutline.html">정주영 창업경진대회</a>
							</li>
							<li>
								<a href="summary.html">히스토리</a>
							</li>
							<li>
								<a href="benefit.html">혜택</a>
							</li>
						</ul>
					</li>
					<li class="g2">
						<a href="partner.html">파트너</a>
					</li>
					<li class="g3">
						<a href="information.html">10회 참가신청</a>
						<ul class="snb s3">
							<li>
								<a href="information.html">대회안내</a>
							</li>
							<li>
								<a href="apply.html">참가신청</a>
							</li>
							<li>
								<a href="mypage.html">결과확인</a>
							</li>
						</ul>
					</li>
					<li class="g4">
						<a href="notice-list.html">공지/문의</a>
						<ul class="snb s4">
							<li>
								<a href="notice-list.html">공지사항</a>
							</li>
							<li>
								<a href="faq.html">FAQ</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</div><!--// grid -->
		<div class="bg-snb"></div>
	</header>

	<div class="container">
		<div class="sub-visual sv3 ani-area backgrondCircleAni on">
			<div class="grid flShowYAni on delay-0-75s">
				<h2>
					<em>2021년 정주영 창업경진대회 10회와 함께</em>
					도전하고, 성장할 여러분을 기다립니다!
				</h2>
			</div><!--// grid -->
		</div>

		<div class="inner bg-pattern">
			<div class="tabs">
				<div class="grid">
					<ul class="t2">
						<li class="active"><a href="information.html">대회안내</a></li>
						<li><a href="apply.html">지원하기</a></li>
					</ul>
				</div><!--// grid -->
			</div>

			<div class="information">
				<div class="grid">
					<div class="info-visual">
						<div class="white-rect"></div>
					</div>
					<div class="info-txt first">
						<h3 class="s-tit">
							대회 요강
							<span class="bg"></span>
						</h3>
						<div class="details">
							<h4>개요</h4>
							<p>
								정주영 창업경진대회 10은 창업을 꿈꾸는 사람이라면 누구나 도전할 수 있습니다. 국내 최고의 벤처캐피털, 액셀러레이터 전문가와 함께하는
								멘토링. 마케팅, 투자, 프레젠테이션 등 스타트업 성장에 필요한 맞춤형 교육, 총 1억 6천 5백만 원의 상금까지. 아산나눔재단과 함께 도전하세요!
							</p>

							<h4>모집 분야</h4>
							<p>제한 없음 (단, 사행/유흥 업종은 제외함)</p>

							<h4>참가 자격</h4>
							<p>
								창업을 희망하는 예비창업자(팀) 또는 창업 2년 이내 기업<br />
								개인, 법인 기업의 경우 2019년 3월 1일 이후 설립 기준<br />
								1~8명으로 구성된 개인 또는 팀(정규직 기준)
							</p>
							<a href="javascript:;" class="btn beige">포스터/리플렛 다운로드<i class="ico download"></i></a>
						</div>
					</div>
					<div class="info-txt">
						<h3 class="s-tit">
							대회 일정
							<span class="bg"></span>
						</h3>
						<div class="details">
							<h4 class="longer">예선(서류접수)</h4>
							<ul class="timeline">
								<li>
									<span class="term">
										<span class="point"><span></span></span>
										<strong>3/2(화)</strong>
									</span>
									<p>접수 시작</p>
								</li>
								<li>
									<span class="term">
										<span class="point"><span></span></span>
										<strong>4/5(월)</strong>
									</span>
									<p>접수 마감</p>
								</li>
								<li>
									<span class="term">
										<span class="point"><span></span></span>
										<strong>4/23(금)</strong>
									</span>
									<p>결과 발표</p>
								</li>
							</ul>

							<h4 class="longer">면접</h4>
							<ul class="timeline">
								<li>
									<span class="term">
										<span class="point"><span></span></span>
										<strong>4/29(목)<span class="hide414">~4/30(금)</span></strong>
									</span>
									<p>
										1차 면접심사
										<span class="show414">(~4/30)</span>
									</p>
								</li>
								<li>
									<span class="term">
										<span class="point"><span></span></span>
										<strong>4/30(금)</strong>
									</span>
									<p>1차 결과발표</p>
								</li>
								<li>
									<span class="term">
										<span class="point"><span></span></span>
										<strong>5/7(금)</strong>
									</span>
									<p>2차 면접심사</p>
								</li>
								<li>
									<span class="term">
										<span class="point"><span></span></span>
										<strong>5/10(월)</strong>
									</span>
									<p>2차 결과발표(최종)</p>
								</li>
							</ul>

							<h4 class="longer">사업실행 / 데모데이</h4>
							<ul class="timeline">
								<li>
									<span class="term">
										<span class="point"><span></span></span>
										<strong>5/24(월)</strong>
									</span>
									<p>사업 시작</p>
								</li>
								<!--
								<li>
									<span class="term">
										<span class="point"><span></span></span>
										<strong>8/29(일)</strong>
									</span>
									<p>사업 종료</p>
								</li>
								-->
								<li>
									<span class="term">
										<span class="point"><span></span></span>
										<strong>8/26(목)</strong>
									</span>
									<p>데모데이</p>
								</li>
							</ul>

							<h5>사업실행기간 프로그램 진행</h5>

							<ul class="bl caution">
								<li>OT 및 워크숍 : 사업실행 단계에 진출한 팀의 역량 강화 및 상호 소통의 기회를 제공</li>
								<li>입주 및 네트워킹 공간 : 창업지원센터 마루180 입주(필수 아님)</li>
								<li>액셀러레이팅 교육 : 교육, 투자, 네트워킹 등 창업에 필요한 다양한 액셀러레이팅 프로그램을 지원</li>
								<li>멘토링 : 유수의 액셀러레이터 파트너 및 벤처캐피털 투자자 등 창업 분야 전문가의 전담 멘토링 진행</li>
								<li>베네핏 파트너 : 스타트업의 성장과 발전을 돕는 스킬과 자원을 지원</li>
							</ul>
						</div><!--// details -->
					</div><!--// info-txt -->

					<div class="btn-wrap">
						<a href="apply.html" class="btn lg primary">참가신청</a>
					</div>

				</div><!--// grid -->
			</div><!--// information -->
		</div><!--// inner -->
	</div><!--// container -->

	<footer>
		<div class="ft-top v1">
			<div class="grid">
				<ul class="sponsor">
					<li class="sub-tit">후원</li>
					<li><a href="http://www.kocca.kr" target="_blank" title="새창열림">한국콘텐츠진흥원</a></li>
				</ul>
				<ul class="sns">
					<li class="asan">
						<a href="https://asan-nanum.org" target="_blank" title="새창열림">
							<i></i>
							아산나눔재단
						</a>
					</li>
					<li class="instagram">
						<a href="https://www.instagram.com/asan_nanum" target="_blank" title="새창열림">
							<i></i>
							Instagram
						</a>
					</li>
					<li class="blog">
						<a href="https://blog.naver.com/asan_nanum" target="_blank" title="새창열림">
							<i></i>
							Blog
						</a>
					</li>
					<li class="youtube">
						<a href="https://www.youtube.com/channel/UCGcV3lb8krcPJqxW4Pi0ofg" target="_blank" title="새창열림">
							<i></i>
							Youtube
						</a>
					</li>
					<li class="subscribe"><a href="http://eepurl.com/dluA7r" class="btn" target="_blank" title="새창열림">뉴스레터 신청</a></li>
				</ul>
			</div><!--// grid -->
		</div>
		<div class="ft-btm">
			<div class="grid">
				<div class="bi">정주영 창업경진대회</div>
				<div class="contact">
					<ul>
						<li>서울시 강남구 역삼로 180</li>
						<li>TEL. 02-3453-1368</li>
						<li>E-Mail : <a href="mailto:startup@asan-nanum.org">startup@asan-nanum.org</a></li>
					</ul>
					<div>Copyright © The Asan Nanum Foundation. All rights reserved.</div>
				</div>
				<div class="privacy-policy"><a href="privacy.html" class="btn">개인정보처리방침</a></div>
			</div><!--// grid -->
		</div>
	</footer>
	<div class="mask"></div>
</body>
</html>