<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>정주영 창업경진대회 | 소개 | 정주영 창업경진대회 10</title>
	<meta name="title" content="정주영 창업경진대회 10">
	<meta name="description" content="아산나눔재단 실전형 창업 지원 프로그램">
	<meta property="og:title" content="정주영 창업경진대회 10">
	<meta property="og:type" content="website">
	<meta property="og:image" content="../../content/og.png">
	<meta property="og:description" content="아산나눔재단 실전형 창업 지원 프로그램">

	<link rel="stylesheet" href="../../content/styles/sub.css">

	<script src="../../content/scripts/jquery-1.12.4.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="../../content/scripts/common.js"></script>
</head>
<body>
	<header>
		<div class="grid">
			<h1><a href="index.html">정주영 창업경진대회</a></h1>
			<a href="javascript:;" class="m-show mobile-menu"><span>메뉴</span></a>
			<a href="javascript:;" class="menu-close"><span>닫기</span></a>
			<nav>
				<ul class="gnb" class="m-hide">
					<li class="g1">
						<a href="introoutline.html">소개</a>
						<ul class="snb s1">
							<li>
								<a href="introoutline.html">정주영 창업경진대회</a>
							</li>
							<li>
								<a href="summary.html">히스토리</a>
							</li>
							<li>
								<a href="benefit.html">혜택</a>
							</li>
						</ul>
					</li>
					<li class="g2">
						<a href="partner.html">파트너</a>
					</li>
					<li class="g3">
						<a href="information.html">10회 참가신청</a>
						<ul class="snb s3">
							<li>
								<a href="information.html">대회안내</a>
							</li>
							<li>
								<a href="apply.html">참가신청</a>
							</li>
							<li>
								<a href="mypage.html">결과확인</a>
							</li>
						</ul>
					</li>
					<li class="g4">
						<a href="notice-list.html">공지/문의</a>
						<ul class="snb s4">
							<li>
								<a href="notice-list.html">공지사항</a>
							</li>
							<li>
								<a href="faq.html">FAQ</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</div><!--// grid -->
		<div class="bg-snb"></div>
	</header>

	<div class="container">
		<div class="sub-visual sv1-1">
			<div class="grid">
				<h2>
					<em>정주영 창업경진대회는</em>
					<span class="linebreak1420over">2012년부터 매년 아산나눔재단에서 개최하고 있는</span>
					<strong>'실전형 창업 지원 프로그램'</strong> 입니다.
					<span class="desc">
						<span class="linebreak1420over">결선 진출팀들은</span>
						창업 종합 솔루션 공간 마루180에서 14주간 실제 사업을 운영하며 발전하는 과정을 경험하게 됩니다.<br />
						<span class="linebreak1420over">대회 이후에도 Alumni 네트워크에 소속되어 아산나눔재단과 협력하며</span>
						창업 생태계의 일원으로 함께 성장합니다.
					</span>
				</h2>
			</div><!--// grid -->
		</div>

		<div class="inner bg-pattern">
			<div class="intro">
				<div class="grid">
					<h3 class="s-tit2"><span>대회 목적</span></h3>
					<ul class="purpose">
						<li>
							누구나 <em>창업에 도전</em>하고<br />
							성장할 수 있는 <em>기회의 장</em> 제공
						</li>
						<li class="plus"><img src="../../content/images/10th/ico-intro-plus.png" alt="" /></li>
						<li>
							전국의 창업 생태계 구성원 대상<br />
							<em>기업가정신</em> 및 <em>창업 문화 확산</em>
						</li>
					</ul>
				</div><!--// grid -->
			</div><!--// intro -->

			<div class="prog-process">
				<div class="grid">
					<h3 class="s-tit">진행 프로세스</h3>
					<img src="../../content/images/10th/process-img.png" alt="" />
					<div id="prog" class="prog">
						<ul class="tab">
							<li>
								<a href="#prog-1">
									<span>01</span>
									모집
								</a>
							</li>
							<li>
								<a href="#prog-2">
									<span>02</span>
									사전설명회
								</a>
							</li>
							<li>
								<a href="#prog-3">
									<span>03</span>
									선발심사
								</a>
							</li>
							<li>
								<a href="#prog-4">
									<span>04</span>
									사업실행
								</a>
							</li>
							<li>
								<a href="#prog-5">
									<span>05</span>
									데모데이
								</a>
							</li>
						</ul>

						<div class="tab-cont">
							<!-- prog-1 -->
							<div id="prog-1">
								<div class="img-block"><img src="../../content/images/10th/thumb/prog_img_01.png" alt="" /></div>
								<ul class="info-block">
									<li class="step"><span>STEP 01</span></li>
									<li>
										<h4>모집</h4>
									</li>
									<li>
										<p>
											올해로 10회를 맞은 정주영 창업경진대회는
											창업에 대한 열정으로 가득찬 참가자들로 인해 어느때보다 뜨거운 경쟁이 펼쳐질 것으로 예상됩니다.<br />
											대한민국 No.1 창업등용문, 정주영 창업경진대회는 서류, 1차 면접, 2차 면접
											총 3단계의 심사 과정을 거칩니다.
											유망한 스타트업을 발굴하기 위해 팀 역량, 비즈니스 모델, 기업가정신을
											종합적으로 고려하여 심사할 예정입니다.									
										</p>
									</li>
								</ul>
							</div>
							<!--// prog-1 -->

							<!-- prog-2 -->
							<div id="prog-2">
								<div class="img-block"><img src="http://placehold.it/370x250" alt="" /></div>
								<ul class="info-block">
									<li class="step"><span>STEP 02</span></li>
									<li>
										<h4>사전설명회</h4>
									</li>
									<li>
										<p>
											(내용)								
										</p>
									</li>
								</ul>
							</div>
							<!--// prog-2 -->

							<!-- prog-3 -->
							<div id="prog-3">
								<div class="img-block"><img src="http://placehold.it/370x250" alt="" /></div>
								<ul class="info-block">
									<li class="step"><span>STEP 03</span></li>
									<li>
										<h4>선발심사</h4>
									</li>
									<li>
										<p>
											(내용)								
										</p>
									</li>
								</ul>
							</div>
							<!--// prog-3 -->

							<!-- prog-4 -->
							<div id="prog-4">
								<div class="img-block"><img src="http://placehold.it/370x250" alt="" /></div>
								<ul class="info-block">
									<li class="step"><span>STEP 04</span></li>
									<li>
										<h4>사업실행</h4>
									</li>
									<li>
										<p>
											(내용)								
										</p>
									</li>
								</ul>
							</div>
							<!--// prog-4 -->

							<!-- prog-5 -->
							<div id="prog-5">
								<div class="img-block"><img src="http://placehold.it/370x250" alt="" /></div>
								<ul class="info-block">
									<li class="step"><span>STEP 05</span></li>
									<li>
										<h4>데모데이</h4>
									</li>
									<li>
										<p>
											(내용)								
										</p>
									</li>
								</ul>
							</div>
							<!--// prog-5 -->
						</div><!--// tab-cont -->
					</div>
				</div>
			</div>

			<div class="program">
				<div class="grid">
					<h3 class="s-tit">
						4개월간의 성장과정
						<em>사업실행단계 지원 프로그램</em>
					</h3>
					<ul class="prg-list">
						<li id="prg1">
							<h4>
								<em>OT 및 워크숍</em>
								<span class="desc">정주영 창업경진대회의 첫 시작을 알리는 프로그램으로 사업실행 단계에 진출한 팀의 역량 강화 및 상호 소통의 기회를 제공합니다.</span>
							</h4>
							
						</li>
						<li id="prg2">
							<h4>
								<em>입주 및 네트워킹 공간</em>
								<span class="desc">스타트업 사무공간 벤처캐피탈·액셀러레이터, 코워킹 카페, 이벤트홀 등이 한 곳에 모여 있는 창업지원센터, 마루180. 이 곳에서 도전하고 성장하고 나누는 창업생태계를 만들어갑니다.</span>
							</h4>
						</li>
						<li id="prg3">
							<h4>
								<em>액셀러레이팅 교육</em>
								<span class="desc">스교육, 투자, 네트워킹 등 창업에 필요한 다양한 액셀러레이팅 프로그램을 지원하고 있습니다. 스타트업이 다방면에서 활약할 수 있도록 아끼지 않는 지원기회를 드립니다.</span>
							</h4>
							<p></p>
						</li>
						<li id="prg4">
							<h4>
								<em>멘토링</em>
								<span class="desc">주영 창업경진대회의 첫 시작을 알리는 프로그램으로 사업실행 단계에 진출한 팀의 역량 강화 및 상호 소통의 기회를 제공합니다.</span>
							</h4>
						</li>
						<li id="prg5">
							<h4>
								<em>베네핏 파트너</em>
								<span class="desc">정주졍 창업경진대회만의 열린 파트너십을 구축하여 스타트 업의 성장과 발전을 돕는 스킬과 자원을 전폭 지원합니다.</span>
							</h4>
						</li>
					</ul>
				</div>
			</div>
		</div><!--// inner -->
	</div><!--// container -->

	<footer>
		<div class="ft-top v1">
			<div class="grid">
				<ul class="sponsor">
					<li class="sub-tit">후원</li>
					<li><a href="http://www.kocca.kr" target="_blank" title="새창열림">한국콘텐츠진흥원</a></li>
				</ul>
				<ul class="sns">
					<li class="asan">
						<a href="javascript:;" target="_blank" title="새창열림">
							<i></i>
							아산나눔재단
						</a>
					</li>
					<li class="instagram">
						<a href="javascript:;" target="_blank" title="새창열림">
							<i></i>
							Instagram
						</a>
					</li>
					<li class="blog">
						<a href="javascript:;" target="_blank" title="새창열림">
							<i></i>
							Blog
						</a>
					</li>
					<li class="youtube">
						<a href="javascript:;" target="_blank" title="새창열림">
							<i></i>
							Youtube
						</a>
					</li>
					<li class="subscribe"><a href="http://eepurl.com/dluA7r" class="btn" target="_blank" title="새창열림">뉴스레터 신청</a></li>
				</ul>
			</div><!--// grid -->
		</div>
		<div class="ft-btm">
			<div class="grid">
				<div class="bi">정주영 창업경진대회</div>
				<div class="contact">
					<ul>
						<li>서울시 강남구 역삼로 180</li>
						<li>TEL. 02-3453-1368</li>
						<li>E-Mail : <a href="mailto:startup@asan-nanum.org">startup@asan-nanum.org</a></li>
					</ul>
					<div>Copyright © The Asan Nanum Foundation. All rights reserved.</div>
				</div>
				<div class="privacy-policy"><a href="../../data/2021_terms.pdf" class="btn">개인정보처리방침</a></div>
			</div><!--// grid -->
		</div>
	</footer>
	<div class="mask"></div>
</body>
</html>