<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>공지사항 | 공지/문의 | 정주영 창업경진대회 10</title>
	<meta name="title" content="정주영 창업경진대회 10">
	<meta name="description" content="아산나눔재단 실전형 창업 지원 프로그램">
	<meta property="og:title" content="정주영 창업경진대회 10">
	<meta property="og:type" content="website">
	<meta property="og:image" content="../../content/og.png">
	<meta property="og:description" content="아산나눔재단 실전형 창업 지원 프로그램">

	<link rel="stylesheet" href="../../content/styles/sub.css">

	<script src="../../content/scripts/jquery-1.12.4.min.js"></script>
	<script src="../../content/scripts/common.js"></script>
</head>
<body>
	<header>
		<div class="grid">
			<h1><a href="index.html">정주영 창업경진대회</a></h1>
			<a href="javascript:;" class="m-show mobile-menu"><span>메뉴</span></a>
			<a href="javascript:;" class="menu-close"><span>닫기</span></a>
			<nav>
				<ul class="gnb m-hide">
					<li class="g1">
						<a href="introoutline.html">소개</a>
						<ul class="snb s1">
							<li>
								<a href="introoutline.html">정주영 창업경진대회</a>
							</li>
							<li>
								<a href="summary.html">히스토리</a>
							</li>
							<li>
								<a href="benefit.html">혜택</a>
							</li>
						</ul>
					</li>
					<li class="g2">
						<a href="partner.html">파트너</a>
					</li>
					<li class="g3">
						<a href="information.html">10회 참가신청</a>
						<ul class="snb s3">
							<li>
								<a href="information.html">대회안내</a>
							</li>
							<li>
								<a href="apply.html">참가신청</a>
							</li>
							<li>
								<a href="mypage.html">결과확인</a>
							</li>
						</ul>
					</li>
					<li class="g4">
						<a href="notice-list.html">공지/문의</a>
						<ul class="snb s4">
							<li>
								<a href="notice-list.html">공지사항</a>
							</li>
							<li>
								<a href="faq.html">FAQ</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</div><!--// grid -->
		<div class="bg-snb"></div>
	</header>

	<div class="container">
		<div class="sub-visual sv4 ani-area backgrondCircleAni on">
			<div class="grid flShowYAni on delay-0-75s">
				<ul>
					<li class="active"><a href="notice-list.html">공지사항</a></li>
					<li><a href="faq.html">FAQ</a></li>
				</ul>
			</div><!--// grid -->
		</div>

		<div class="inner bg-pattern">
			<div class="notice">
				<div class="grid">
					<ul class="ntc-list">
						<!-- repeat unit -->
						<li>
							<a href="notice-view.html">
								<span class="atc-tit">[아산나눔재단] 정주영 창업 경진 대회 9 데모데이</span>
								<span class="atc-smry">
									새로운 변화를 가져올 청년 아산, 결선진출 11팀의 열정과 비전을 &lt;정주영 창업 경진대회 9 데모데이&gt;에서 직접 확인하세요!
								</span>
								<span class="atc-date">2020.05.08</span>
							</a>
						</li>
						<!--// repeat unit -->
						<li>
							<a href="notice-view.html">
								<span class="atc-tit">[아산나눔재단] 정주영 창업 경진 대회 9 데모데이</span>
								<span class="atc-smry">
									새로운 변화를 가져올 청년 아산, 결선진출 11팀의 열정과 비전을 &lt;정주영 창업 경진대회 9 데모데이&gt;에서 직접 확인하세요!
								</span>
								<span class="atc-date">2020.05.08</span>
							</a>
						</li>
						<li>
							<a href="notice-view.html">
								<span class="atc-tit">[아산나눔재단] 정주영 창업 경진 대회 9 데모데이</span>
								<span class="atc-smry">
									새로운 변화를 가져올 청년 아산, 결선진출 11팀의 열정과 비전을 &lt;정주영 창업 경진대회 9 데모데이&gt;에서 직접 확인하세요!
								</span>
								<span class="atc-date">2020.05.08</span>
							</a>
						</li>
						<li>
							<a href="notice-view.html">
								<span class="atc-tit">[아산나눔재단] 정주영 창업 경진 대회 9 데모데이</span>
								<span class="atc-smry">
									새로운 변화를 가져올 청년 아산, 결선진출 11팀의 열정과 비전을 &lt;정주영 창업 경진대회 9 데모데이&gt;에서 직접 확인하세요!
								</span>
								<span class="atc-date">2020.05.08</span>
							</a>
						</li>
						<li>
							<a href="notice-view.html">
								<span class="atc-tit">[아산나눔재단] 정주영 창업 경진 대회 9 데모데이</span>
								<span class="atc-smry">
									새로운 변화를 가져올 청년 아산, 결선진출 11팀의 열정과 비전을 &lt;정주영 창업 경진대회 9 데모데이&gt;에서 직접 확인하세요!
								</span>
								<span class="atc-date">2020.05.08</span>
							</a>
						</li>
						<li>
							<a href="notice-view.html">
								<span class="atc-tit">[아산나눔재단] 정주영 창업 경진 대회 9 데모데이</span>
								<span class="atc-smry">
									새로운 변화를 가져올 청년 아산, 결선진출 11팀의 열정과 비전을 &lt;정주영 창업 경진대회 9 데모데이&gt;에서 직접 확인하세요!
								</span>
								<span class="atc-date">2020.05.08</span>
							</a>
						</li>
						<li>
							<a href="notice-view.html">
								<span class="atc-tit">[아산나눔재단] 정주영 창업 경진 대회 9 데모데이</span>
								<span class="atc-smry">
									새로운 변화를 가져올 청년 아산, 결선진출 11팀의 열정과 비전을 &lt;정주영 창업 경진대회 9 데모데이&gt;에서 직접 확인하세요!
								</span>
								<span class="atc-date">2020.05.08</span>
							</a>
						</li>
						<li>
							<a href="notice-view.html">
								<span class="atc-tit">[아산나눔재단] 정주영 창업 경진 대회 9 데모데이</span>
								<span class="atc-smry">
									새로운 변화를 가져올 청년 아산, 결선진출 11팀의 열정과 비전을 &lt;정주영 창업 경진대회 9 데모데이&gt;에서 직접 확인하세요!
								</span>
								<span class="atc-date">2020.05.08</span>
							</a>
						</li>
						<li>
							<a href="notice-view.html">
								<span class="atc-tit">[아산나눔재단] 정주영 창업 경진 대회 9 데모데이</span>
								<span class="atc-smry">
									새로운 변화를 가져올 청년 아산, 결선진출 11팀의 열정과 비전을 &lt;정주영 창업 경진대회 9 데모데이&gt;에서 직접 확인하세요!
								</span>
								<span class="atc-date">2020.05.08</span>
							</a>
						</li>
					</ul>

					<ul class="pagination">
						<li><a href="javascript:;" class="move first">처음</a></li>
						<li><a href="javascript:;" class="move prev">이전</a></li>
						<li><a href="javascript:;" class="current">1</a></li>
						<li><a href="javascript:;">2</a></li>
						<li><a href="javascript:;">3</a></li>
						<li><a href="javascript:;">4</a></li>
						<li><a href="javascript:;">5</a></li>
						<li><a href="javascript:;" class="move next">다음</a></li>
						<li><a href="javascript:;" class="move last">끝</a></li>
					</ul>
				</div><!--// grid -->
			</div><!--// notice -->
		</div><!--// inner -->
	</div><!--// container -->

	<footer>
		<div class="ft-top v1">
			<div class="grid">
				<ul class="sponsor">
					<li class="sub-tit">후원</li>
					<li><a href="http://www.kocca.kr" target="_blank" title="새창열림">한국콘텐츠진흥원</a></li>
				</ul>
				<ul class="sns">
					<li class="asan">
						<a href="https://asan-nanum.org" target="_blank" title="새창열림">
							<i></i>
							아산나눔재단
						</a>
					</li>
					<li class="instagram">
						<a href="https://www.instagram.com/asan_nanum" target="_blank" title="새창열림">
							<i></i>
							Instagram
						</a>
					</li>
					<li class="blog">
						<a href="https://blog.naver.com/asan_nanum" target="_blank" title="새창열림">
							<i></i>
							Blog
						</a>
					</li>
					<li class="youtube">
						<a href="https://www.youtube.com/channel/UCGcV3lb8krcPJqxW4Pi0ofg" target="_blank" title="새창열림">
							<i></i>
							Youtube
						</a>
					</li>
					<li class="subscribe"><a href="http://eepurl.com/dluA7r" class="btn" target="_blank" title="새창열림">뉴스레터 신청</a></li>
				</ul>
			</div><!--// grid -->
		</div>
		<div class="ft-btm">
			<div class="grid">
				<div class="bi">정주영 창업경진대회</div>
				<div class="contact">
					<ul>
						<li>서울시 강남구 역삼로 180</li>
						<li>TEL. 02-3453-1368</li>
						<li>E-Mail : <a href="mailto:startup@asan-nanum.org">startup@asan-nanum.org</a></li>
					</ul>
					<div>Copyright © The Asan Nanum Foundation. All rights reserved.</div>
				</div>
				<div class="privacy-policy"><a href="privacy.html" class="btn">개인정보처리방침</a></div>
			</div><!--// grid -->
		</div>
	</footer>
	<div class="mask"></div>
</body>
</html>