<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>파트너 | 정주영 창업경진대회 10</title>
	<meta name="title" content="정주영 창업경진대회 10">
	<meta name="description" content="아산나눔재단 실전형 창업 지원 프로그램">
	<meta property="og:title" content="정주영 창업경진대회 10">
	<meta property="og:type" content="website">
	<meta property="og:image" content="../../content/og.png">
	<meta property="og:description" content="아산나눔재단 실전형 창업 지원 프로그램">

	<link rel="stylesheet" href="../../content/styles/sub.css">

	<script src="../../content/scripts/jquery-1.12.4.min.js"></script>
	<script src="../../content/scripts/jquery-ui-1.12.1.custom.js"></script>
	<script src="../../content/scripts/common.js"></script>
</head>
<body>
	<header>
		<div class="grid">
			<h1><a href="index.html">정주영 창업경진대회</a></h1>
			<a href="javascript:;" class="m-show mobile-menu"><span>메뉴</span></a>
			<a href="javascript:;" class="menu-close"><span>닫기</span></a>
			<nav>
				<ul class="gnb m-hide">
					<li class="g1">
						<a href="introoutline.html">소개</a>
						<ul class="snb s1">
							<li>
								<a href="introoutline.html">정주영 창업경진대회</a>
							</li>
							<li>
								<a href="summary.html">히스토리</a>
							</li>
							<li>
								<a href="benefit.html">혜택</a>
							</li>
						</ul>
					</li>
					<li class="g2">
						<a href="partner.html">파트너</a>
					</li>
					<li class="g3">
						<a href="information.html">10회 참가신청</a>
						<ul class="snb s3">
							<li>
								<a href="information.html">대회안내</a>
							</li>
							<li>
								<a href="apply.html">참가신청</a>
							</li>
							<li>
								<a href="mypage.html">결과확인</a>
							</li>
						</ul>
					</li>
					<li class="g4">
						<a href="notice-list.html">공지/문의</a>
						<ul class="snb s4">
							<li>
								<a href="notice-list.html">공지사항</a>
							</li>
							<li>
								<a href="faq.html">FAQ</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</div><!--// grid -->
		<div class="bg-snb"></div>
	</header>

	<div class="container">
		<div class="sub-visual sv2 ani-area backgrondCircleAni on">
			<div class="grid flShowYAni on delay-0-75s">
				<h2>
					<em>정주영 창업경진대회는</em>
					일회성 혜택이 아닌 지속적인 혜택을 제공합니다.
					<span class="linebreak1420over">시작부터 대회 이후까지</span>
					<strong>최고의 사업 파트너</strong>들과 함께하세요.
				</h2>
			</div><!--// grid -->
		</div>

		<div class="inner bg-pattern">
			<div class="partner mentor">
				<div class="grid">
					<h3 class="s-tit2"><span>멘토 파트너</span></h3>
					<!-- repeat unit -->
					<div class="rp-mentor">
						<div class="ptn-img"><img src="../../content/images/10th/profile/mento_img_01.png" alt="" /></div>
						<div class="ptn-info">
							<span>멘토 파트너</span>
							<em>김호민 대표</em>
							<ul>
								<li>現 스파크랩 대표</li>
								<li>前 넥슨 포탈본부장, 넥슨노바 대표</li>
								<li>미국 Northwestern University 의공학 전공</li>
								<li>KAIST 생명과학 석사</li>
							</ul>
						</div>
					</div>
					<!--// repeat unit -->

					<div class="rp-mentor green-tone">
						<div class="ptn-img"><img src="../../content/images/10th/profile/mento_img_02.png" alt="" /></div>
						<div class="ptn-info">
							<span>멘토 파트너</span>
							<em>신재식 대표</em>
							<ul>
								<li>現 네스트컴퍼니 대표</li>
								<li>前 데일리호텔 각자대표, 공동 창업</li>
								<li>前 초등교사</li>
								<li>대구교육대 초등교육학 학사</li>
							</ul>
						</div>
					</div>

					<div class="rp-mentor">
						<div class="ptn-img"><img src="../../content/images/10th/profile/mento_img_03.png" alt="" /></div>
						<div class="ptn-info">
							<span>멘토 파트너</span>
							<em>이기하 대표</em>
							<ul>
								<li>現 프라이머사제파트너스 대표</li>
								<li>前 Sazze 대표이사</li>
								<li>UC of Berkeley 공학 박사</li>
							</ul>
						</div>
					</div>

					<div class="rp-mentor green-tone">
						<div class="ptn-img"><img src="../../content/images/10th/profile/mento_img_04.png" alt="" /></div>
						<div class="ptn-info">
							<span>멘토 파트너</span>
							<em>이용관 대표</em>
							<ul>
								<li>現 블루포인트파트너스 대표이사</li>
								<li>前 한국초기투자기관협회 회장</li>
								<li>前 플라즈마트 대표이사</li>
								<li>한국과학기술원(KAIST) 물리학과, 저온 플라즈마 박사</li>
							</ul>
						</div>
					</div>

					<div class="rp-mentor">
						<div class="ptn-img"><img src="../../content/images/10th/profile/mento_img_05.png" alt="" /></div>
						<div class="ptn-info">
							<span>멘토 파트너</span>
							<em>임정민 대표</em>
							<ul>
								<li>現 시그나이트파트너스 투자총괄</li>
								<li>前 500 Startups 파트너</li>
								<li>前 구글캠퍼스서울 총괄</li>
								<li>前 로켓오즈 CEO</li>
							</ul>
						</div>
					</div>

					<div class="rp-mentor green-tone">
						<div class="ptn-img"><img src="../../content/images/10th/profile/mento_img_06.png" alt="" /></div>
						<div class="ptn-info">
							<span>멘토 파트너</span>
							<em>최경희 대표</em>
							<ul>
								<li>現 소풍 벤처스 파트너</li>
								<li>前 마켓디자이너스 인사총괄</li>
								<li>前 튜터링 공동대표</li>
							</ul>
						</div>
					</div>
				</div><!--// grid -->
			</div><!--// partner(mentor) -->

			<div class="partner benefit">
				<div class="grid">
					<h3 class="s-tit2"><span>베네핏 파트너</span></h3>
					<ul class="rp-logo">
						<!-- repeat unit -->
						<li>
							<a href="https://aws.amazon.com/ko" target="_blank" title="AWS 클라우드(새창)">
								<span class="logo-img"><img src="../../content/images/10th/logo/partner_logo_01.png" alt="AWS 클라우드" /></span>
								<span class="logo-tit">AWS 클라우드</span>
								<span class="logo-txt">클라우드 크레딧 제공</span>
							</a>
						</li>
						<!--// repeat unit -->
						<li>
							<a href="javascript:;" target="_blank" title="Google 클라우드(새창)">
								<span class="logo-img"><img src="../../content/images/10th/logo/partner_logo_02.png" alt="Google 클라우드" /></span>
								<span class="logo-tit">Google 클라우드</span>
								<span class="logo-txt">클라우드 크레딧 제공</span>
							</a>
						</li>
						<li>
							<a href="https://www.socar.kr" target="_blank" title="SOCAR(새창)">
								<span class="logo-img"><img src="../../content/images/10th/logo/partner_logo_03.png" alt="SOCAR" /></span>
								<span class="logo-tit">SOCAR</span>
								<span class="logo-txt">이용 쿠폰 제공</span>
							</a>
						</li>
						<li>
							<a href="https://www.kmi.or.kr/index.web" target="_blank" title="KMI 한국 의학 연구소(새창)">
								<span class="logo-img"><img src="../../content/images/10th/logo/partner_logo_04.png" alt="KMI 한국 의학 연구소" /></span>
								<span class="logo-tit">KMI 한국 의학 연구소</span>
								<span class="logo-txt">임직원 건강검진 할인 제공</span>
							</a>
						</li>
						<li>
							<a href="https://www.dreamplus.asia" target="_blank" title="한화드림플러스(새창)">
								<span class="logo-img"><img src="../../content/images/10th/logo/partner_logo_05.png" alt="한화드림플러스" /></span>
								<span class="logo-tit">한화드림플러스</span>
								<span class="logo-txt">입주할인 제공</span>
							</a>
						</li>
						<li>
							<a href="https://www.notion.so" target="_blank" title="Notion(새창)">
								<span class="logo-img"><img src="../../content/images/10th/logo/partner_logo_06.png" alt="Notion" /></span>
								<span class="logo-tit">Notion</span>
								<span class="logo-txt">노션 서비스 크레딧 제공</span>
							</a>
						</li>
						<li>
							<a href="https://maru180.com" target="_blank" title="마루180(새창)">
								<span class="logo-img"><img src="../../content/images/10th/logo/partner_logo_07.png" alt="마루180" /></span>
								<span class="logo-tit">마루180</span>
								<span class="logo-txt">홍보 이벤트 개최 시 비용 제공</span>
							</a>
						</li>
						<li>
							<a href="https://www.kibo.or.kr/index.do" target="_blank" title="기술보증기금(새창)">
								<span class="logo-img"><img src="../../content/images/10th/logo/partner_logo_08.png" alt="기술보증기금" /></span>
								<span class="logo-tit">기술보증기금</span>
								<span class="logo-txt">상품 연계 및 창업프로그램 가점 부여</span>
							</a>
						</li>
						<li>
							<a href="https://www.lawtalk.co.kr" target="_blank" title="로톡(새창)">
								<span class="logo-img"><img src="../../content/images/10th/logo/partner_logo_09.png" alt="로톡" /></span>
								<span class="logo-tit">로톡</span>
								<span class="logo-txt">무료 법률 상담권 제공</span>
							</a>
						</li>
						<li>
							<a href="http://www.atommerce.com" target="_blank" title="마인드카페(새창)">
								<span class="logo-img"><img src="../../content/images/10th/logo/partner_logo_10.png" alt="마인드카페" /></span>
								<span class="logo-tit">마인드카페</span>
								<span class="logo-txt">심리상담 할인권 제공</span>
							</a>
						</li>
						<li>
							<a href="http://www.cheese-smile.net" target="_blank" title="모멘트립(새창)">
								<span class="logo-img"><img src="../../content/images/10th/logo/partner_logo_11.png" alt="모멘트립" /></span>
								<span class="logo-tit">모멘트립</span>
								<span class="logo-txt">사진, 영상 촬영 할인 제공</span>
							</a>
						</li>
						<li>
							<a href="javascript:;" target="_blank" title="샌드버드(새창)">
								<span class="logo-img"><img src="../../content/images/10th/logo/partner_logo_12.png" alt="샌드버드" /></span>
								<span class="logo-tit">샌드버드</span>
								<span class="logo-txt">(한 줄 소개)</span>
							</a>
						</li>
						<li>
							<a href="https://shairspot.com" target="_blank" title="쉐어스팟(새창)">
								<span class="logo-img"><img src="../../content/images/10th/logo/partner_logo_13.png" alt="쉐어스팟" /></span>
								<span class="logo-tit">쉐어스팟</span>
								<span class="logo-txt">상시 할인 혜택 제공</span>
							</a>
						</li>
						<li>
							<a href="https://stibee.com" target="_blank" title="스티비(새창)">
								<span class="logo-img"><img src="../../content/images/10th/logo/partner_logo_14.png" alt="스티비" /></span>
								<span class="logo-tit">스티비</span>
								<span class="logo-txt">구독료 혜택 제공</span>
							</a>
						</li>
						<li>
							<a href="https://www.kodit.co.kr/index.jsp" target="_blank" title="신용보증기금(새창)">
								<span class="logo-img"><img src="../../content/images/10th/logo/partner_logo_15.png" alt="신용보증기금" /></span>
								<span class="logo-tit">신용보증기금</span>
								<span class="logo-txt">상품 연계 및 창업지원사업 가점 부여</span>
							</a>
						</li>
						<li>
							<a href="https://www.adriel.com/ko" target="_blank" title="아드리엘(새창)">
								<span class="logo-img"><img src="../../content/images/10th/logo/partner_logo_16.png" alt="아드리엘" /></span>
								<span class="logo-tit">아드리엘</span>
								<span class="logo-txt">광고비 제공</span>
							</a>
						</li>
						<li>
							<a href="https://jobis.co" target="_blank" title="자비스(새창)">
								<span class="logo-img"><img src="../../content/images/10th/logo/partner_logo_17.png" alt="자비스" /></span>
								<span class="logo-tit">자비스</span>
								<span class="logo-txt">세무/법무 서비스 이용 혜택 제공</span>
							</a>
						</li>
						<li>
							<a href="https://www.jandi.com/landing/kr" target="_blank" title="잔디(새창)">
								<span class="logo-img"><img src="../../content/images/10th/logo/partner_logo_18.png" alt="잔디" /></span>
								<span class="logo-tit">잔디</span>
								<span class="logo-txt">구독료 혜택 제공</span>
							</a>
						</li>
						<li>
							<a href="http://kosmes.or.kr/intro/kosme_intro.html" target="_blank" title="중소벤처기업진흥공단(새창)">
								<span class="logo-img"><img src="../../content/images/10th/logo/partner_logo_19.png" alt="중소벤처기업진흥공단" /></span>
								<span class="logo-tit">중소벤처기업진흥공단</span>
								<span class="logo-txt">상품 연계 및 창업지원사업 우대 혜택 제공</span>
							</a>
						</li>
						<li>
							<a href="https://www.catchsecu.com" target="_blank" title="오내피플(새창)">
								<span class="logo-img"><img src="../../content/images/10th/logo/partner_logo_20.png" alt="오내피플" /></span>
								<span class="logo-tit">오내피플</span>
								<span class="logo-txt">캐치시큐 서비스 혜택 제공</span>
							</a>
						</li>
						<li>
							<a href="https://www.palette-h.kr" target="_blank" title="팔레트에이치(새창)">
								<span class="logo-img"><img src="../../content/images/10th/logo/partner_logo_21.png" alt="팔레트에이치" /></span>
								<span class="logo-tit">팔레트에이치</span>
								<span class="logo-txt">첫 방문 및 상시 할인 혜택 제공</span>
							</a>
						</li>
						<li>
							<a href="https://www.protopie.io" target="_blank" title="프로토파이(새창)">
								<span class="logo-img"><img src="../../content/images/10th/logo/partner_logo_22.png" alt="프로토파이" /></span>
								<span class="logo-tit">프로토파이</span>
								<span class="logo-txt">프로토타이핑 서비스 혜택 제공</span>
							</a>
						</li>
						<li>
							<a href="https://www.flitto.com/language/translation/text" target="_blank" title="플리토(새창)">
								<span class="logo-img"><img src="../../content/images/10th/logo/partner_logo_23.png" alt="플리토" /></span>
								<span class="logo-tit">플리토</span>
								<span class="logo-txt">무료 번역 쿠폰 제공</span>
							</a>
						</li>
						<li>
							<a href="https://studioblack.hyundaicard.com/intro/SFIND0101.do" target="_blank" title="현대카드 스튜디오 블랙(새창)">
								<span class="logo-img"><img src="../../content/images/10th/logo/partner_logo_24.png" alt="현대카드 스튜디오 블랙" /></span>
								<span class="logo-tit">현대카드 스튜디오 블랙</span>
								<span class="logo-txt">입주 할인 혜택 제공</span>
							</a>
						</li>
					</ul>
				</div><!--// grid -->
			</div><!--// partner(benefit) -->
		</div><!--// inner -->
	</div><!--// container -->

	<footer>
		<div class="ft-top v1">
			<div class="grid">
				<ul class="sns">
					<li class="asan">
						<a href="https://asan-nanum.org" target="_blank" title="새창열림">
							<i></i>
							아산나눔재단
						</a>
					</li>
					<li class="blog">
						<a href="https://blog.naver.com/asan_nanum" target="_blank" title="새창열림">
							<i></i>
							Blog
						</a>
					</li>
					<li class="youtube">
						<a href="https://www.youtube.com/channel/UCGcV3lb8krcPJqxW4Pi0ofg" target="_blank" title="새창열림">
							<i></i>
							Youtube
						</a>
					</li>
					<li class="subscribe"><a href="http://eepurl.com/dluA7r" class="btn" target="_blank" title="새창열림">뉴스레터 신청</a></li>
				</ul>
			</div><!--// grid -->
		</div>
		<div class="ft-btm">
			<div class="grid">
				<div class="bi">정주영 창업경진대회</div>
				<div class="contact">
					<ul>
						<li>서울특별시 중구 동호로 208</li>
						<li>TEL. 02-3453-1368</li>
						<li>E-Mail : <a href="mailto:startup@asan-nanum.org">startup@asan-nanum.org</a></li>
					</ul>
					<div>Copyright © The Asan Nanum Foundation. All rights reserved.</div>
				</div>
				<div class="privacy-policy"><a href="privacy.html" class="btn">개인정보처리방침</a></div>
			</div><!--// grid -->
		</div>
	</footer>
	<div class="mask"></div>
</body>
</html>