<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>파트너 | 정주영 창업경진대회 10</title>
	<meta name="title" content="정주영 창업경진대회 10">
	<meta name="description" content="아산나눔재단 실전형 창업 지원 프로그램">
	<meta property="og:title" content="정주영 창업경진대회 10">
	<meta property="og:type" content="website">
	<meta property="og:image" content="../../content/og.png">
	<meta property="og:description" content="아산나눔재단 실전형 창업 지원 프로그램">

	<link rel="stylesheet" href="../../content/styles/sub.css">

	<script src="../../content/scripts/jquery-1.12.4.min.js"></script>
	<script src="../../content/scripts/jquery-ui-1.12.1.custom.js"></script>
	<script src="../../content/scripts/common.js"></script>
</head>
<body>
	<header>
		<div class="grid">
			<h1><a href="index.html">정주영 창업경진대회</a></h1>
			<a href="javascript:;" class="m-show mobile-menu"><span>메뉴</span></a>
			<a href="javascript:;" class="menu-close"><span>닫기</span></a>
			<nav>
				<ul class="gnb" class="m-hide">
					<li class="g1">
						<a href="introoutline.html">소개</a>
						<ul class="snb s1">
							<li>
								<a href="introoutline.html">정주영 창업경진대회</a>
							</li>
							<li>
								<a href="summary.html">히스토리</a>
							</li>
							<li>
								<a href="benefit.html">혜택</a>
							</li>
						</ul>
					</li>
					<li class="g2">
						<a href="partner.html">파트너</a>
					</li>
					<li class="g3">
						<a href="information.html">10회 참가신청</a>
						<ul class="snb s3">
							<li>
								<a href="information.html">대회안내</a>
							</li>
							<li>
								<a href="apply.html">참가신청</a>
							</li>
							<li>
								<a href="mypage.html">결과확인</a>
							</li>
						</ul>
					</li>
					<li class="g4">
						<a href="notice-list.html">공지/문의</a>
						<ul class="snb s4">
							<li>
								<a href="notice-list.html">공지사항</a>
							</li>
							<li>
								<a href="faq.html">FAQ</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</div><!--// grid -->
		<div class="bg-snb"></div>
	</header>

	<div class="container">
		<div class="sub-visual sv2">
			<div class="grid">
				<h2>
					<em>정주영 창업경진대회는</em>
					일회성 혜택이 아닌 지속적인 혜택을 제공합니다.
					<span class="linebreak1420over">시작부터 대회 이후까지</span>
					<strong>최고의 사업 파트너</strong>들과 함께하세요.
				</h2>
			</div><!--// grid -->
		</div>

		<div class="inner bg-pattern">
			<div class="partner mentor">
				<div class="grid">
					<h3 class="s-tit2"><span>멘토 파트너</span></h3>
					<!-- repeat unit -->
					<div class="rp-mentor">
						<div class="ptn-img"><img src="../../content/images/10th/profile/mento_tmp.png" alt="" /></div>
						<div class="ptn-info">
							<span>멘토 파트너</span>
							<em>홍길동 상무</em>
							<ul>
								<li>서울대학교 계산통계학과 학사, 포항공대 정보통신학 석사, 한양대 기술경영 박사수료</li>
								<li>인터파크 CTO, 인터파크 CMO</li>
								<li>G마켓 공동창업자</li>
								<li>롯데정보통신 기술연구소장</li>
								<li>(현)롯데액셀러레이터 상무</li>
							</ul>
						</div>
					</div>
					<!--// repeat unit -->

					<div class="rp-mentor">
						<div class="ptn-img"><img src="../../content/images/10th/profile/mento_tmp.png" alt="" /></div>
						<div class="ptn-info">
							<span>멘토 파트너</span>
							<em>홍길동 상무</em>
							<ul>
								<li>서울대학교 계산통계학과 학사, 포항공대 정보통신학 석사, 한양대 기술경영 박사수료</li>
								<li>인터파크 CTO, 인터파크 CMO</li>
								<li>G마켓 공동창업자</li>
								<li>롯데정보통신 기술연구소장</li>
								<li>(현)롯데액셀러레이터 상무</li>
							</ul>
						</div>
					</div>

					<div class="rp-mentor sponsor">
						<div class="ptn-img"><img src="../../content/images/10th/profile/mento_sponsor.png" alt="한국콘텐츠진흥원" /></div>
						<div class="ptn-info">
							<span>후원 파트너</span>
							<em>한국콘텐츠진흥원</em>
							<ul>
								<li>서울대학교 계산통계콘텐츠와 문화의 힘으로 혁신성장을 선도하는 진흥기관</li>
								<li>
									방송, 게임, 음악, 패션, 애니메이션, 캐릭터, 만화 등 장르별 산업 지원과 해외수출,
									기업 및 전문 인력 육성, 문화기술 개발, 정책연구와 금융 지원 등 다방면의 사업을 통해
									콘텐츠산업의 성장과 진흥을 책임집니다.
								</li>
							</ul>
						</div>
					</div>
				</div><!--// grid -->
			</div><!--// partner(mentor) -->

			<div class="partner benefit">
				<div class="grid">
					<h3 class="s-tit2"><span>베네핏 파트너</span></h3>
					<ul class="rp-logo">
						<!-- repeat unit -->
						<li>
							<a href="https://aws.amazon.com/ko" target="_blank" title="AWS 클라우드(새창)">
								<span class="logo-img"><img src="../../content/images/10th/logo/partner_logo_01.png" alt="AWS 클라우드" /></span>
								<span class="logo-tit">AWS 클라우드</span>
								<span class="logo-txt">클라우드 크레딧 제공</span>
							</a>
						</li>
						<li>
							<a href="javascript:;" target="_blank" title="Google 클라우드(새창)">
								<span class="logo-img"><img src="../../content/images/10th/logo/partner_logo_02.png" alt="Google 클라우드" /></span>
								<span class="logo-tit">Google 클라우드</span>
								<span class="logo-txt">클라우드 크레딧 제공</span>
							</a>
						</li>
						<li>
							<a href="https://www.socar.kr" target="_blank" title="SOCAR(새창)">
								<span class="logo-img"><img src="../../content/images/10th/logo/partner_logo_03.png" alt="SOCAR" /></span>
								<span class="logo-tit">SOCAR</span>
								<span class="logo-txt">이용 쿠폰 제공</span>
							</a>
						</li>
						<li>
							<a href="https://www.kmi.or.kr/index.web" target="_blank" title="KMI 한국 의학 연구소(새창)">
								<span class="logo-img"><img src="../../content/images/10th/logo/partner_logo_04.png" alt="KMI 한국 의학 연구소" /></span>
								<span class="logo-tit">KMI 한국 의학 연구소</span>
								<span class="logo-txt">임직원 건강검진 할인 제공</span>
							</a>
						</li>
						<li>
							<a href="https://www.dreamplus.asia/" target="_blank" title="한화드림플러스(새창)">
								<span class="logo-img"><img src="../../content/images/10th/logo/partner_logo_05.png" alt="한화드림플러스" /></span>
								<span class="logo-tit">한화드림플러스</span>
								<span class="logo-txt">입주할인 제공</span>
							</a>
						</li>
						<!--// repeat unit -->
					</ul>
				</div><!--// grid -->
			</div><!--// partner(benefit) -->
		</div><!--// inner -->
	</div><!--// container -->

	<footer>
		<div class="ft-top v1">
			<div class="grid">
				<ul class="sponsor">
					<li class="sub-tit">후원</li>
					<li><a href="http://www.kocca.kr" target="_blank" title="새창열림">한국콘텐츠진흥원</a></li>
				</ul>
				<ul class="sns">
					<li class="asan">
						<a href="javascript:;" target="_blank" title="새창열림">
							<i></i>
							아산나눔재단
						</a>
					</li>
					<li class="instagram">
						<a href="javascript:;" target="_blank" title="새창열림">
							<i></i>
							Instagram
						</a>
					</li>
					<li class="blog">
						<a href="javascript:;" target="_blank" title="새창열림">
							<i></i>
							Blog
						</a>
					</li>
					<li class="youtube">
						<a href="javascript:;" target="_blank" title="새창열림">
							<i></i>
							Youtube
						</a>
					</li>
					<li class="subscribe"><a href="http://eepurl.com/dluA7r" class="btn" target="_blank" title="새창열림">뉴스레터 신청</a></li>
				</ul>
			</div><!--// grid -->
		</div>
		<div class="ft-btm">
			<div class="grid">
				<div class="bi">정주영 창업경진대회</div>
				<div class="contact">
					<ul>
						<li>서울시 강남구 역삼로 180</li>
						<li>TEL. 02-3453-1368</li>
						<li>E-Mail : <a href="mailto:startup@asan-nanum.org">startup@asan-nanum.org</a></li>
					</ul>
					<div>Copyright © The Asan Nanum Foundation. All rights reserved.</div>
				</div>
				<div class="privacy-policy"><a href="../../data/2021_terms.pdf" class="btn">개인정보처리방침</a></div>
			</div><!--// grid -->
		</div>
	</footer>
	<div class="mask"></div>
</body>
</html>