<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>개인정보처리방침 | 정주영 창업경진대회 10</title>
	<meta name="title" content="정주영 창업경진대회 10">
	<meta name="description" content="아산나눔재단 실전형 창업 지원 프로그램">
	<meta property="og:title" content="정주영 창업경진대회 10">
	<meta property="og:type" content="website">
	<meta property="og:image" content="../../content/og.png">
	<meta property="og:description" content="아산나눔재단 실전형 창업 지원 프로그램">

	<link rel="stylesheet" href="../../content/styles/sub.css">

	<script src="../../content/scripts/jquery-1.12.4.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="../../content/scripts/common.js"></script>
</head>
<body>
	<header>
		<div class="grid">
			<h1><a href="index.html">정주영 창업경진대회</a></h1>
			<a href="javascript:;" class="m-show mobile-menu"><span>메뉴</span></a>
			<a href="javascript:;" class="menu-close"><span>닫기</span></a>
			<nav>
				<ul class="gnb m-hide">
					<li class="g1">
						<a href="introoutline.html">소개</a>
						<ul class="snb s1">
							<li>
								<a href="introoutline.html">정주영 창업경진대회</a>
							</li>
							<li>
								<a href="summary.html">히스토리</a>
							</li>
							<li>
								<a href="benefit.html">혜택</a>
							</li>
						</ul>
					</li>
					<li class="g2">
						<a href="partner.html">파트너</a>
					</li>
					<li class="g3">
						<a href="information.html">10회 참가신청</a>
						<ul class="snb s3">
							<li>
								<a href="information.html">대회안내</a>
							</li>
							<li>
								<a href="apply.html">참가신청</a>
							</li>
							<li>
								<a href="mypage.html">결과확인</a>
							</li>
						</ul>
					</li>
					<li class="g4">
						<a href="notice-list.html">공지/문의</a>
						<ul class="snb s4">
							<li>
								<a href="notice-list.html">공지사항</a>
							</li>
							<li>
								<a href="faq.html">FAQ</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</div><!--// grid -->
		<div class="bg-snb"></div>
	</header>

	<div class="container">
		<div class="sub-visual sv-etc ani-area backgrondCircleAni on">
			<div class="grid flShowYAni on delay-0-75s">
				<ul>
					<li class="active"><span>개인정보처리방침</span></li>
				</ul>
			</div><!--// grid -->
		</div>

		<div class="inner bg-pattern">
			<div class="privacy">
				<div class="grid">
					<div class="cont-box">
						<h3>제 1조 총칙</h3>
						<ul class="circle">
							<li>① 개인정보란 생존하는 개인에 관한 정보로서 당해 정보에 포함되어 있는 성명, 생년월일 등의 사항에 의하여 당해 개인을 식별할 수 있는 부호, 문자, 음성, 음향, 영상 등의 정보(당해 정보만으로는 특정 개인을 식별할 수 없더라도 다른 정보와 용이하게 결합하여 식별할 수 있는 것을 포함합니다)를 말합니다.</li>
							<li>② 아산나눔재단 정주영 창업경진대회 웹사이트(<a href="https://startup.asan-nanum.org/" target="_blank" title="새창열림">https://startup.asan-nanum.org/</a> 이하 '사이트')를 운영하는 아산나눔재단은 귀하의 개인정보보호를 매우 중요시하며, 『개인정보보호법』 등 관련법령을 준수하고 있습니다.</li>
							<li>③ ‘재단’은 본 개인정보처리방침을 통하여 귀하께서 제공하시는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.</li>
							<li>④ ‘재단’은 개인정보처리방침을 홈페이지 첫 화면에 공개함으로써 귀하께서 언제나 용이하게 보실 수 있도록 조치하고 있습니다.</li>
							<li>⑤ ‘재단’은 개인정보처리방침의 지속적인 개선을 위하여 개인정보처리방침을 개정하는데 필요한 절차를 정하고 있습니다.</li>
							<li>⑥ 본 개인정보처리방침은 관련 법률 및 지침의 변경 또는 내부 운영방침의 변경에 따라 변경될 수 있습니다. 개인정보처리방침이 변경된 경우 버전번호 및 개정일자 등을 부여하여 개정된 사항을 귀하께서 쉽게 알아볼 수 있도록 하고 있습니다.</li>
						</ul>

						<h3>제 2조 개인정보의 수집항목 및 이용목적</h3>
						<p>귀하는 별도의 회원가입 절차 없이 ’사이트’가 제공하는 대부분의 컨텐츠에 자유롭게 접근할 수 있습니다. ’재단’의 입사지원 서비스를 이용하시고자 할 경우 다음의 정보를 수집하는 데 동의해주셔야 하며, 선택항목 수집에 동의하시지 않았다 하여 서비스 이용에 제한은 없습니다.</p>
						<ul class="bl hyphen">
							<li>개인정보 수집 및 보유자 : 아산나눔재단</li>
							<li>개인정보 항목 및 이용목적</li>
						</ul>
						<ul class="flx-tbl col2">
							<li class="th">수집항목</li>
							<li class="th">이용목적</li>
							<li>정주영 창업경진대회 수상자 선정 및 운영</li>
							<li>(필수) 이름, 이메일, 생년월일, 연락처, 구분(일반, 대학생, 대학원생, 고등학생, 중학생, 기타), 자기소개 및 주요이력, 수상현황</li>
						</ul>

						<p>(중략)</p>

						<h3>제 7조 개인정보의 보유기간 및 이용기간</h3>
						<p>‘재단’은 귀하의 개인정보를 아래 기간 동안 보유할 수 있으며 보유기간 종료 후 즉시 파기합니다.</p>
						<ul class="bl hyphen">
							<li>지원 정보 보유기간 : 수집 및 이용 동의일로부터 1년 까지</li>
							<li>합격자 정보 보유기간 : 수집 및 이용 동의일로부터 10년 까지</li>
						</ul>
						<p>다만, 관계법령의 규정에 의하여 보존할 필요가 있는 경우 재단은 아래와 같이 해당 법령에서 정한 바에 의하여 개인정보를 별도 보관할 수 있습니다.</p>
						<ul class="flx-tbl col3">
							<li class="th">보유항목</li>
							<li class="th">보유기간</li>
							<li class="th">법적 근거</li>
							<li>컴퓨터통신 또는 인터넷의 로그기록자료, 접속지의 추적자료</li>
							<li class="tac">3개월</li>
							<li>통신비밀보호법 제15조의2 제2항 및 통신비밀보호법 시행령 제41조 제2항</li>
						</ul>
					</div>
				</div><!--// grid -->
			</div><!--// privacy -->
		</div><!--// inner -->
	</div><!--// container -->

	<footer>
		<div class="ft-top v1">
			<div class="grid">
				<ul class="sponsor">
					<li class="sub-tit">후원</li>
					<li><a href="http://www.kocca.kr" target="_blank" title="새창열림">한국콘텐츠진흥원</a></li>
				</ul>
				<ul class="sns">
					<li class="asan">
						<a href="https://asan-nanum.org" target="_blank" title="새창열림">
							<i></i>
							아산나눔재단
						</a>
					</li>
					<li class="instagram">
						<a href="https://www.instagram.com/asan_nanum" target="_blank" title="새창열림">
							<i></i>
							Instagram
						</a>
					</li>
					<li class="blog">
						<a href="https://blog.naver.com/asan_nanum" target="_blank" title="새창열림">
							<i></i>
							Blog
						</a>
					</li>
					<li class="youtube">
						<a href="https://www.youtube.com/channel/UCGcV3lb8krcPJqxW4Pi0ofg" target="_blank" title="새창열림">
							<i></i>
							Youtube
						</a>
					</li>
					<li class="subscribe"><a href="http://eepurl.com/dluA7r" class="btn" target="_blank" title="새창열림">뉴스레터 신청</a></li>
				</ul>
			</div><!--// grid -->
		</div>
		<div class="ft-btm">
			<div class="grid">
				<div class="bi">정주영 창업경진대회</div>
				<div class="contact">
					<ul>
						<li>서울시 강남구 역삼로 180</li>
						<li>TEL. 02-3453-1368</li>
						<li>E-Mail : <a href="mailto:startup@asan-nanum.org">startup@asan-nanum.org</a></li>
					</ul>
					<div>Copyright © The Asan Nanum Foundation. All rights reserved.</div>
				</div>
				<div class="privacy-policy"><a href="privacy.html" class="btn">개인정보처리방침</a></div>
			</div><!--// grid -->
		</div>
	</footer>
	<div class="mask"></div>
</body>
</html>