<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>히스토리 | 소개 | 정주영 창업경진대회 10</title>
	<meta name="title" content="정주영 창업경진대회 10">
	<meta name="description" content="아산나눔재단 실전형 창업 지원 프로그램">
	<meta property="og:title" content="정주영 창업경진대회 10">
	<meta property="og:type" content="website">
	<meta property="og:image" content="../../content/og.png">
	<meta property="og:description" content="아산나눔재단 실전형 창업 지원 프로그램">

	<link rel="stylesheet" href="../../content/styles/sub.css">
	<link rel="stylesheet" href="../../content/unitegallery/unite-gallery.css">
	<link rel="stylesheet" href="../../content/unitegallery/ug-theme-default.css" >

	<script src="../../content/scripts/jquery-1.12.4.min.js"></script>
	<script src="../../content/scripts/jquery-ui-1.12.1.custom.js"></script>
	<script src="../../content/scripts/common.js"></script>
	<script src="../../content/unitegallery/unitegallery.min.js"></script>
	<script src="../../content/unitegallery/ug-theme-compact.js"></script>
	<script>
    $(document).ready(function(){
		$("#video").tabs();
	});
    </script>
</head>
<body>
	<header>
		<div class="grid">
			<h1><a href="index.html">정주영 창업경진대회</a></h1>
			<a href="javascript:;" class="m-show mobile-menu"><span>메뉴</span></a>
			<a href="javascript:;" class="menu-close"><span>닫기</span></a>
			<nav>
				<ul class="gnb m-hide">
					<li class="g1">
						<a href="introoutline.html">소개</a>
						<ul class="snb s1">
							<li>
								<a href="introoutline.html">정주영 창업경진대회</a>
							</li>
							<li>
								<a href="summary.html">히스토리</a>
							</li>
							<li>
								<a href="benefit.html">혜택</a>
							</li>
						</ul>
					</li>
					<li class="g2">
						<a href="partner.html">파트너</a>
					</li>
					<li class="g3">
						<a href="information.html">10회 참가신청</a>
						<ul class="snb s3">
							<li>
								<a href="information.html">대회안내</a>
							</li>
							<li>
								<a href="apply.html">참가신청</a>
							</li>
							<li>
								<a href="mypage.html">결과확인</a>
							</li>
						</ul>
					</li>
					<li class="g4">
						<a href="notice-list.html">공지/문의</a>
						<ul class="snb s4">
							<li>
								<a href="notice-list.html">공지사항</a>
							</li>
							<li>
								<a href="faq.html">FAQ</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</div><!--// grid -->
		<div class="bg-snb"></div>
	</header>

	<div class="container">
		<div class="sub-visual sv1-2 ani-area backgrondCircleAni on">
			<div class="grid flShowYAni on delay-0-75s">
				<h2>
					<em>정주영 창업경진대회는</em>
					10년간
					<span class="linebreak1420over">총 5,000여 팀이 지원한 가장 도전적이고 창의적인</span>
					<strong>스타트업 발굴 사업</strong>입니다.
				</h2>
			</div><!--// grid -->
		</div>
		<div class="sub-visual-added sv1-2">
			<div class="grid">
				<h3>
					총 5천여개의 지원팀
					<em>1~9회 대회 누적 지표 & 지역별 비율</em>
				</h3>
			</div><!--// grid -->
		</div>



		<div class="inner bg-pattern">
			<div class="status">
				<div class="grid count-area">
					<div class="count-wrap">
						<span class="total">
							전체 접수 스타트업
							<em><strong id="count-no1">5,077</strong>명</em>
						</span>
						<ul class="region">
							<li>
								<span class="rgn">서울</span>
								<span class="people">2,690</span>
								<span class="rate">53%</span>
							</li>
							<li>
								<span class="rgn">인천/경기</span>
								<span class="people">869</span>
								<span class="rate">17%</span>
							</li>
							<li>
								<span class="rgn">부산/경남</span>
								<span class="people">357</span>
								<span class="rate">7%</span>
							</li>
							<li>
								<span class="rgn">대전/충청</span>
								<span class="people">369</span>
								<span class="rate">7%</span>
							</li>
							<li>
								<span class="rgn">광주/전라</span>
								<span class="people">269</span>
								<span class="rate">5%</span>
							</li>
							<li>
								<span class="rgn">대구/경북</span>
								<span class="people">256</span>
								<span class="rate">5%</span>
							</li>
							<li>
								<span class="rgn">울산</span>
								<span class="people">120</span>
								<span class="rate">2%</span>
							</li>
							<li>
								<span class="rgn">강원</span>
								<span class="people">110</span>
								<span class="rate">2%</span>
							</li>
							<li>
								<span class="rgn">제주</span>
								<span class="people">29</span>
								<span class="rate">1%</span>
							</li>
							<li>
								<span class="rgn">해외</span>
								<span class="people">8</span>
								<span class="rate">0%</span>
							</li>
						</ul>
					</div>
				</div><!--// grid -->
			</div><!--// status -->

			<div class="history">
				<div class="grid count-area">
					<h3 class="s-tit2"><span>2020년 제9회 정주영 창업경진대회</span></h3>
					<div class="indicator">
						<h4>주요성과</h4>
						<ul>
							<li>
								<em><span id="count-no2" class="count-up">110</span>:1</em>
								<p>대회 경쟁률</p>
							</li>
							<li>
								<em><span id="count-no3" class="count-up">100</span>%</em>
								<p>사업지속률</p>
							</li>
							<li>
								<em><span id="count-no4" class="count-up">42</span>%</em>
								<p>투자유치율</p>
							</li>
						</ul>
					</div>

					<section id="summaryContents">
						<article class="summaryCon1">
							<div class="panel" id="tab1">
								<div class="summaryInfo">
									<ul>
										<li>
											<em>대회 일정</em>
											<p>2020년 3월 18일 ~ 8월 30일</p>
										</li>
										<li>
											<em>총 지원팀</em>
											<p>1220팀</p>
										</li>
										<li>
											<em>결선 진출팀</em>
											<p>11개팀</p>
										</li>
									</ul>
									<div class="filter">
										<select id="sel1" name="sel1" onchange="selSummary(this)">
											<option value="2020" selected>제9회</option>
											<option value="2019">제8회</option>
											<option value="2018">제7회</option>
											<option value="2017">제6회</option>
											<option value="2016">제5회</option>
											<option value="2015">제4회</option>
											<option value="2014">제3회</option>
											<option value="2013">제2회</option>
											<option value="2012">제1회</option>
										</select>
									</div>
								</div>

								<!-- 수상팀 -->
								<div class="summaryTeam">
									<h4>수상팀</h4>
									<ul class="rp-logo">
										<li>
											<a href="javascript:;" target="_blank" title="페이얍(새창)">
												<span class="logo-img"><img src="../../content/images/10th/logo/last_winner_logo_01.png" alt="페이얍" /></span>
												<span class="logo-tit">페이얍</span>
												<span class="logo-txt">베트남 페이스북 셀러 타겟 메신저 연동 온라인 커머스 플랫폼</span>
											</a>
										</li>
										<li>
											<a href="javascript:;" target="_blank" title="아르고스(새창)">
												<span class="logo-img"><img src="../../content/images/10th/logo/last_winner_logo_02.png" alt="아르고스" /></span>
												<span class="logo-tit">아르고스</span>
												<span class="logo-txt">인공지능 기반 비대면 본인 인증 및 자금세탁 위험분석 서비스</span>
											</a>
										</li>
										<li>
											<a href="javascript:;" target="_blank" title="메디팔(새창)">
												<span class="logo-img"><img src="../../content/images/10th/logo/last_winner_logo_03.png" alt="메디팔" /></span>
												<span class="logo-tit">메디팔</span>
												<span class="logo-txt">만성질환자의 맞춤형 건강 관리를 위한 온라인 개인 간호사 구독 서비스</span>
											</a>
										</li>
										<li>
											<a href="javascript:;" target="_blank" title="코르미나(새창)">
												<span class="logo-img"><img src="../../content/images/10th/logo/last_winner_logo_04.png" alt="코르미나" /></span>
												<span class="logo-tit">코르미나</span>
												<span class="logo-txt">중동/북아프리카의 소비자들과 한국의 판매자들을 연결해주는 크로스보더 마켓플레이스 플랫폼</span>
											</a>
										</li>
										<li>
											<a href="javascript:;" target="_blank" title="진지한 컴퍼니(새창)">
												<span class="logo-img"><img src="../../content/images/10th/logo/last_winner_logo_05.png" alt="진지한 컴퍼니" /></span>
												<span class="logo-tit">진지한 컴퍼니</span>
												<span class="logo-txt">사이드 프로젝트를 통해 직접 경험하면서 성장하는 프로젝트 기반 IT 교육 서비스, 비사이드(B-Side)</span>
											</a>
										</li>
										<li>
											<a href="javascript:;" target="_blank" title="블루비커(새창)">
												<span class="logo-img"><img src="../../content/images/10th/logo/last_winner_logo_06.png" alt="블루비커" /></span>
												<span class="logo-tit">블루비커</span>
												<span class="logo-txt">저작권 문제없는 논문 및 연구 삽입용 콘텐츠 생성 서비스</span>
											</a>
										</li>
										<li>
											<a href="javascript:;" target="_blank" title="닥터테일(새창)">
												<span class="logo-img"><img src="../../content/images/10th/logo/last_winner_logo_07.png" alt="닥터테일" /></span>
												<span class="logo-tit">닥터테일</span>
												<span class="logo-txt">반려동물 의료기록 기반 수의사 상담 플랫폼</span>
											</a>
										</li>
										<li>
											<a href="javascript:;" target="_blank" title="hayan AI(새창)">
												<span class="logo-img"><img src="../../content/images/10th/logo/last_winner_logo_08.png" alt="hayan AI" /></span>
												<span class="logo-tit">hayan AI</span>
												<span class="logo-txt">시니어 세대와 AI를 연결하는 데이터 구축 플랫폼</span>
											</a>
										</li>
										<li>
											<a href="javascript:;" target="_blank" title="팀아일랜드(새창)">
												<span class="logo-img"><img src="../../content/images/10th/logo/last_winner_logo_09.png" alt="팀아일랜드" /></span>
												<span class="logo-tit">팀아일랜드</span>
												<span class="logo-txt">영상 효과를 자유롭게 조합해 영상을 쉽게 디자인하고 공유하는 모바일 SNS 플랫폼 ZZAZZ(째즈)</span>
											</a>
										</li>
										<li>
											<a href="javascript:;" target="_blank" title="큐리오스튜디오(새창)">
												<span class="logo-img"><img src="../../content/images/10th/logo/last_winner_logo_10.png" alt="큐리오스튜디오" /></span>
												<span class="logo-tit">큐리오스튜디오</span>
												<span class="logo-txt">누구나 쉽게 3D 콘텐츠를 제작, 유통, 구매, 수집할 수 있는 플랫폼 MXXR(믹서) 운영</span>
											</a>
										</li>
										<li>
											<a href="javascript:;" target="_blank" title="크레이빙콜렉터(새창)">
												<span class="logo-img"><img src="../../content/images/10th/logo/last_winner_logo_11.png" alt="크레이빙콜렉터" /></span>
												<span class="logo-tit">크레이빙콜렉터</span>
												<span class="logo-txt">취향별 맞춤 추천 시스템 기반의 중고 의류 거래 플랫폼</span>
											</a>
										</li>
									</ul>
								</div>
								<!--// 수상팀 -->

								<!-- 대회영상 -->
								<div class="summaryPlay">
									<h4>대회영상</h4>

									<div id="video" class="compet-video">
										<div class="tab-cont">
											<!-- video #1 -->
											<div id="video-1">
												<div class="img-block">
													<a href="javascript:;">
														<span class="ico"><img src="../../content/images/10th/ico-play.png" alt="" /></span>
														<img src="../../content/images/10th/thumb/video_img_01.png" alt="" />
													</a>
												</div>
												<div class="iframe-block">
													<iframe width="560" height="315" src="https://www.youtube.com/embed/l39coLaoSwg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
												</div>
											</div>
											<!--// video #1 -->

											<!-- video #2 -->
											<div id="video-2">
												<div class="img-block">
													<a href="javascript:;">
														<span class="ico"><img src="../../content/images/10th/ico-play.png" alt="" /></span>
														<img src="http://placehold.it/1008x550" alt="" />
													</a>
												</div>
												<div class="iframe-block">
													<iframe width="560" height="315" src="https://www.youtube.com/embed/4CwsUeNdXQI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
												</div>
											</div>
											<!--// video #2 -->

											<!-- video #3 -->
											<div id="video-3">
												<div class="img-block">
													<a href="javascript:;">
														<span class="ico"><img src="../../content/images/10th/ico-play.png" alt="" /></span>
														<img src="http://placehold.it/1008x550" alt="" />
													</a>
												</div>
												<div class="iframe-block">
													<iframe width="560" height="315" src="https://www.youtube.com/embed/iewNgxHVfSY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
												</div>
											</div>
											<!--// video #3 -->

											<!-- video #4 -->
											<div id="video-4">
												<div class="img-block">
													<a href="javascript:;">
														<span class="ico"><img src="../../content/images/10th/ico-play.png" alt="" /></span>
														<img src="http://placehold.it/1008x550" alt="" />
													</a>
												</div>
												<div class="iframe-block">
													<iframe width="560" height="315" src="https://www.youtube.com/embed/fcThnN4qpjA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
												</div>
											</div>
											<!--// video #3 -->
										</div><!--// tab-cont -->

										<ul class="tab">
											<li>
												<a href="#video-1">
													정주영 창업경진대회 9
													<em>소개 영상</em>
												</a>
											</li>
											<li>
												<a href="#video-2">
													정주영 창업경진대회 9
													<em>모집 영상</em>
												</a>
											</li>
											<li>
												<a href="#video-3">
													정주영 창업경진대회 9
													<em>데모데이 오프닝</em>
												</a>
											</li>
											<li>
												<a href="#video-4">
													정주영 창업경진대회 9
													<em>데모데이 온라인 LIVE</em>
												</a>
											</li>
										</ul>
									</div>
								</div>
								<!--// 대회영상 -->

								<!-- 대회사진 -->
								<div class="summaryGal">
									<h4>대회사진</h4>
									<div id="gallery">
										<img src="../../content/images/10th/thumb/compet_img_sm_01.jpg" data-image="../../content/images/10th/thumb/compet_img_01.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_02.jpg" data-image="../../content/images/9th/thumb/compet_img_02.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_03.jpg" data-image="../../content/images/9th/thumb/compet_img_03.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_04.jpg" data-image="../../content/images/9th/thumb/compet_img_04.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_05.jpg" data-image="../../content/images/9th/thumb/compet_img_05.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_06.jpg" data-image="../../content/images/9th/thumb/compet_img_06.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_07.jpg" data-image="../../content/images/9th/thumb/compet_img_07.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_08.jpg" data-image="../../content/images/9th/thumb/compet_img_08.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_09.jpg" data-image="../../content/images/9th/thumb/compet_img_09.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_10.jpg" data-image="../../content/images/9th/thumb/compet_img_10.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_11.jpg" data-image="../../content/images/9th/thumb/compet_img_11.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_12.jpg" data-image="../../content/images/9th/thumb/compet_img_12.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_13.jpg" data-image="../../content/images/9th/thumb/compet_img_13.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_14.jpg" data-image="../../content/images/9th/thumb/compet_img_14.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_15.jpg" data-image="../../content/images/9th/thumb/compet_img_15.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_16.jpg" data-image="../../content/images/9th/thumb/compet_img_16.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_17.jpg" data-image="../../content/images/9th/thumb/compet_img_17.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_18.jpg" data-image="../../content/images/9th/thumb/compet_img_18.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_19.jpg" data-image="../../content/images/9th/thumb/compet_img_19.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_20.jpg" data-image="../../content/images/9th/thumb/compet_img_20.jpg" alt="대회 현장 사진">
									</div>
								</div>
								<!--// 대회사진 -->
							</div><!--// panel -->
						</article>
					</section>

					<script type="text/javascript">
						jQuery("#gallery").unitegallery({
							gallery_width: 1360,
							gallery_height: 778,
							gallery_theme: "compact",
							gallery_images_preload_type: "minimal",
							slider_control_zoom: false,
							slider_enable_text_panel: false,
							slider_enable_play_button: false,
							slider_enable_fullscreen_button: false,
							slider_enable_zoom_panel: false,
					//		slider_arrow_left_offset_hor: 40,
					//		slider_arrow_right_offset_hor: 40,
							strippanel_enable_handle: false,
							strippanel_background_color: "rgba(24, 61, 49, 0.75)",
					//		strippanel_padding_top: 20,
					//		strippanel_padding_bottom: 20,
					//		strippanel_padding_left: 40,
					//		strippanel_padding_right: 40,
					//		theme_panel_position: "bottom",
					//		thumb_width: 178,
					//		thumb_height: 109,
							thumb_border_width: 0,
							thumb_selected_border_width: 2,
							thumb_selected_border_color: "rgba(202,255,237,0.33)"
						});
					</script>

				</div><!--// grid -->
			</div><!--// history -->
		</div><!--// inner -->
	</div><!--// container -->

	<footer>
		<div class="ft-top v1">
			<div class="grid">
				<ul class="sns">
					<li class="asan">
						<a href="https://asan-nanum.org" target="_blank" title="새창열림">
							<i></i>
							아산나눔재단
						</a>
					</li>
					<li class="blog">
						<a href="https://blog.naver.com/asan_nanum" target="_blank" title="새창열림">
							<i></i>
							Blog
						</a>
					</li>
					<li class="youtube">
						<a href="https://www.youtube.com/channel/UCGcV3lb8krcPJqxW4Pi0ofg" target="_blank" title="새창열림">
							<i></i>
							Youtube
						</a>
					</li>
					<li class="subscribe"><a href="http://eepurl.com/dluA7r" class="btn" target="_blank" title="새창열림">뉴스레터 신청</a></li>
				</ul>
			</div><!--// grid -->
		</div>
		<div class="ft-btm">
			<div class="grid">
				<div class="bi">정주영 창업경진대회</div>
				<div class="contact">
					<ul>
						<li>서울특별시 중구 동호로 208</li>
						<li>TEL. 02-3453-1368</li>
						<li>E-Mail : <a href="mailto:startup@asan-nanum.org">startup@asan-nanum.org</a></li>
					</ul>
					<div>Copyright © The Asan Nanum Foundation. All rights reserved.</div>
				</div>
				<div class="privacy-policy"><a href="privacy.html" class="btn">개인정보처리방침</a></div>
			</div><!--// grid -->
		</div>
	</footer>
	<div class="mask"></div>
</body>
</html>