<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>히스토리 | 소개 | 정주영 창업경진대회 10</title>
	<meta name="title" content="정주영 창업경진대회 10">
	<meta name="description" content="아산나눔재단 실전형 창업 지원 프로그램">
	<meta property="og:title" content="정주영 창업경진대회 10">
	<meta property="og:type" content="website">
	<meta property="og:image" content="../../content/og.png">
	<meta property="og:description" content="아산나눔재단 실전형 창업 지원 프로그램">

	<link rel="stylesheet" href="../../content/styles/sub.css">
	<link rel="stylesheet" href="../../content/unitegallery/unite-gallery.css">
	<link rel="stylesheet" href="../../content/unitegallery/ug-theme-default.css" >

	<script src="../../content/scripts/jquery-1.12.4.min.js"></script>
	<script src="../../content/scripts/common.js"></script>
	<script src="../../content/unitegallery/unitegallery.min.js"></script>
	<script src="../../content/unitegallery/ug-theme-compact.js"></script>
</head>
<body>
	<header>
		<div class="grid">
			<h1><a href="index.html">정주영 창업경진대회</a></h1>
			<a href="javascript:;" class="m-show mobile-menu"><span>메뉴</span></a>
			<a href="javascript:;" class="menu-close"><span>닫기</span></a>
			<nav>
				<ul class="gnb" class="m-hide">
					<li class="g1">
						<a href="introoutline.html">소개</a>
						<ul class="snb s1">
							<li>
								<a href="introoutline.html">정주영 창업경진대회</a>
							</li>
							<li>
								<a href="summary.html">히스토리</a>
							</li>
							<li>
								<a href="benefit.html">혜택</a>
							</li>
						</ul>
					</li>
					<li class="g2">
						<a href="partner.html">파트너</a>
					</li>
					<li class="g3">
						<a href="information.html">10회 참가신청</a>
						<ul class="snb s3">
							<li>
								<a href="information.html">대회안내</a>
							</li>
							<li>
								<a href="apply.html">참가신청</a>
							</li>
							<li>
								<a href="mypage.html">결과확인</a>
							</li>
						</ul>
					</li>
					<li class="g4">
						<a href="notice-list.html">공지/문의</a>
						<ul class="snb s4">
							<li>
								<a href="notice-list.html">공지사항</a>
							</li>
							<li>
								<a href="faq.html">FAQ</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</div><!--// grid -->
		<div class="bg-snb"></div>
	</header>

	<div class="container">
		<div class="sub-visual sv1-2">
			<div class="grid">
				<h2>
					<em>정주영 창업경진대회는</em>
					10년간
					<span class="linebreak1420over">총 5,000여명이 지원한 가장 도전적이고 창의적인</span>
					<strong>스타트업 발굴 사업</strong>입니다.
				</h2>
			</div><!--// grid -->
		</div>
		<div class="sub-visual-added sv1-2">
			<div class="grid">
				<h3>
					총 5천여개의 지원팀
					<em>1~10회 대회 누적 지표 & 지역별 비율</em>
				</h3>
			</div><!--// grid -->
		</div>

		<div class="inner bg-pattern">
			<div class="status">
				<div class="grid">
					<div class="count-wrap">
						<div class="total">
							전체 접수 스타트업
							<em>5,077명</em>
						</div>
						<ul class="region">
							<li>
								<span class="rgn">서울</span>
								<span class="people">2,690</span>
								<span class="rate">53%</span>
							</li>
							<li>
								<span class="rgn">인천/경기</span>
								<span class="people">869</span>
								<span class="rate">17%</span>
							</li>
							<li>
								<span class="rgn">부산/경남</span>
								<span class="people">357</span>
								<span class="rate">7%</span>
							</li>
							<li>
								<span class="rgn">대전/충청</span>
								<span class="people">369</span>
								<span class="rate">7%</span>
							</li>
							<li>
								<span class="rgn">광주/전라</span>
								<span class="people">269</span>
								<span class="rate">5%</span>
							</li>
							<li>
								<span class="rgn">대구/경북</span>
								<span class="people">256</span>
								<span class="rate">5%</span>
							</li>
							<li>
								<span class="rgn">울산</span>
								<span class="people">120</span>
								<span class="rate">2%</span>
							</li>
							<li>
								<span class="rgn">강원</span>
								<span class="people">110</span>
								<span class="rate">2%</span>
							</li>
							<li>
								<span class="rgn">제주</span>
								<span class="people">29</span>
								<span class="rate">1%</span>
							</li>
							<li>
								<span class="rgn">해외</span>
								<span class="people">8</span>
								<span class="rate">0%</span>
							</li>
						</ul>
					</div>
				</div><!--// grid -->
			</div><!--// status -->

			<div class="history">
				<div class="grid">
					<h3 class="s-tit2"><span>2020년 정주영 창업경진대회 9</span></h3>
					<div class="indicator">
						<h4>주요성과</h4>
						<ul>
							<li>
								<em><span class="count-up">110</span>:1</em>
								대회 경쟁률
							</li>
							<li>
								<em><span class="count-up">100</span>%</em>
								사업지속률
							</li>
							<li>
								<em><span class="count-up">42</span>%</em>
								투자유치율
							</li>
						</ul>
					</div>


					<section id="summaryContents" class="grid">
						<article class="titleImg s2">
							<div class="titleTxt">
								<span class="Txt1">이전 대회</span>
							</div>
						</article>
						<article class="summaryCon1">
							<div class="filter-top">
								<select id="sel1" name="sel1" onchange="selSummary(this)">
									<option value="">이전 대회 보기</option>
									<option value="2019" selected>2019년 제8회</option>
									<option value="2018">2018년 제7회</option>
									<option value="2017">2017년 제6회</option>
									<option value="2016">2016년 제5회</option>
									<option value="2015">2015년 제4회</option>
									<option value="2014">2014년 제3회</option>
									<option value="2013">2013년 제2회</option>
									<option value="2012">2012년 제1회</option>
								</select>
							</div>
							<!-- //20190306 텍스트 수정 끝 -->
							<div class="panel" id="tab1">
								<h3>2019년 제8회 정주영 창업경진대회</h3> <!-- 20200302 텍스트 수정 -->
								<div class="summary15">
									<!--대회일정/총지원팀/결선진출팀-->
									<div class="summary15-1">
										<p>대회 일정</p>
										<p class="small">2019년 3월 4일 ~ 8월 21일</p>
									</div>
									<div class="summary15-1">
										<p>총 지원팀</p>
										<p class="small">681팀</p>
									</div>
									<div class="summary15-1 last">
										<p>결선 진출팀</p>
										<p class="small">16개팀</p>
									</div>
								</div>
								<!-- 20200302 이미지 및 텍스트 수정 시작 -->
								<div class="summaryTeam">
									<!--수상팀-->
									<p>수상팀</p>
									<ul>
										<li>
											<a href="https://blog.naver.com/asan_nanum/221587775121" target="_blank" title="리본(새창)">
												<p class="teamImg"><img src="../../content/images/9th/logo/last_winner_logo_01.jpg" alt="리본"></p>
												<p class="teamT">리본</p>
												<p>플라스틱 재활용 <span class="line-sum">전처리 솔루션 개발</span></p>
											</a>
										</li>
										<li>
											<a href="https://www.inssait.io/home" target="_blank" title="디타임(새창)">
												<p class="teamImg"><img src="../../content/images/9th/logo/last_winner_logo_02.jpg" alt="디타임"></p>
												<p class="teamT">디타임</p>
												<p>인사관리를 위한 클라우드 서비스</p>
											</a>
										</li>
										<li>
											<a href="https://www.facebook.com/more.science2018" target="_blank" title="모어사이언스(새창)">
												<p class="teamImg"><img src="../../content/images/9th/logo/last_winner_logo_03.jpg" alt="모어사이언스"></p>
												<p class="teamT">모어사이언스</p>
												<p>뉴미디어 과학 콘텐츠 제작</p>
											</a>
										</li>
										<li class="teamLast">
											<a href="http://devotionfoods.com" target="_blank" title="디보션푸드(새창)">
												<p class="teamImg"><img src="../../content/images/9th/logo/last_winner_logo_04.jpg" alt="디보션푸드"></p>
												<p class="teamT">디보션푸드</p>
												<p>식물성 육류 대체 식품 개발</p>
											</a>
										</li>
									</ul>
									<ul>
										<li>
											<a href="https://www.replatform.co.kr" target="_blank" title="리햅위더스(새창)">
												<p class="teamImg"><img src="../../content/images/9th/logo/last_winner_logo_05.jpg" alt="리햅위더스"></p>
												<p class="teamT">리햅위더스</p>
												<p>성인 언어치료 전문 플랫폼 운영</p>
											</a>
										</li>
										<li>
											<a href="https://www.starsecretkorea.com" target="_blank" title="서울언니들(새창)">
												<p class="teamImg"><img src="../../content/images/9th/logo/last_winner_logo_06.jpg" alt="서울언니들"></p>
												<p class="teamT">서울언니들</p>
												<p>미얀마 거점 뷰티콘텐츠커머스 운영</p>
											</a>
										</li>
										<li>
											<a href="https://www.scalardata.co.kr" target="_blank" title="스칼라데이터(새창)">
												<p class="teamImg"><img src="../../content/images/9th/logo/last_winner_logo_07.jpg" alt="스칼라데이터"></p>
												<p class="teamT">스칼라데이터</p>
												<p>전기자동차 충전 커넥터 개발</p>
											</a>
										</li>
										<li class="teamLast">
											<a href="http://www.todayweekends.com" target="_blank" title="오늘도주말(새창)">
												<p class="teamImg"><img src="../../content/images/9th/logo/last_winner_logo_08.jpg" alt=""></p>
												<p class="teamT">오늘도주말</p>
												<p>네일아트 정보공유 플랫폼</p>
											</a>
										</li>
									</ul>
									<ul>
										<li>
											<a href="https://blog.naver.com/asan_nanum/221618271823" target="_blank" title="아이캡틴(새창)">
												<p class="teamImg"><img src="../../content/images/9th/logo/last_winner_logo_09.jpg" alt="아이캡틴"></p>
												<p class="teamT">아이캡틴</p>
												<p>선박 재난 대피 솔루션 개발</p>
											</a>
										</li>
										<li>
											<a href="https://caster.so" target="_blank" title="캐스터(새창)">
												<p class="teamImg"><img src="../../content/images/9th/logo/last_winner_logo_10.jpg" alt="캐스터"></p>
												<p class="teamT">캐스터</p>
												<p>예측기반 콘텐츠 테스트베드 플랫폼</p>
											</a>
										</li>
										<li>
											<a href="https://blog.naver.com/asan_nanum/221593966013" target="_blank" title="그라인더(새창)">
												<p class="teamImg"><img src="../../content/images/9th/logo/last_winner_logo_11.jpg" alt="그라인더"></p>
												<p class="teamT">그라인더</p>
												<p>가치 기반 큐레이션 비디오 커머스</p>
											</a>
										</li>
										<li class="teamLast">
											<a href="http://www.datasee.co.kr" target="_blank" title="데이터씨(새창)">
												<p class="teamImg"><img src="../../content/images/9th/logo/last_winner_logo_12.jpg" alt="데이터씨"></p>
												<p class="teamT">데이터씨</p>
												<p>B2B 바이오 실험자재 <span class="line-sum">온라인 유통 플랫폼</span></p>
											</a>
										</li>
									</ul>
									<ul>
										<li>
											<a href="https://dhive.co.kr" target="_blank" title="디하이브(새창)">
												<p class="teamImg"><img src="../../content/images/9th/logo/last_winner_logo_13.jpg" alt="디하이브"></p>
												<p class="teamT">디하이브</p>
												<p>드론 클라우드 OS 개발</p>
											</a>
										</li>
										<li>
											<a href="https://www.awesomedaytoeat.com" target="_blank" title="디하이브(새창)">
												<p class="teamImg"><img src="../../content/images/9th/logo/last_winner_logo_14.jpg" alt="어썸데이투잇"></p>
												<p class="teamT">어썸데이투잇</p>
												<p>소셜 다이닝 플랫폼</p>
											</a>
										</li>
										<li>
											<a href="https://www.palette-h.kr" target="_blank" title="제로그라운드(새창)">
												<p class="teamImg"><img src="../../content/images/9th/logo/last_winner_logo_15.jpg" alt="제로그라운드"></p>
												<p class="teamT">제로그라운드</p>
												<p>디자이너를 위한 <span class="line-sum">임대형 공유 미용실 서비스</span></p>
											</a>
										</li>
										<li class="teamLast">
											<a href="https://comestay.kr" target="_blank" title="컴스테이(새창)">
												<p class="teamImg"><img src="../../content/images/9th/logo/last_winner_logo_16.jpg" alt="컴스테이"></p>
												<p class="teamT">컴스테이</p>
												<p>반려동물과의 여행을 위한 <span class="line-sum">숙박 예약 마켓플레이스</span></p>
											</a>
										</li>
									</ul>
									<div class="backTeam"></div>
								</div>
								<div class="summaryPlay">
									<p>대회영상</p>
									<ul>
										<li>
											<p><a href="https://www.youtube.com/watch?v=cYgPgi_o0NE" target="_blank"><img src="../../content/images/9th/thumb/compet_video_01.jpg" alt="제8회 정주영 창업경진대회 결선 오프닝"></a><p>
											<p>제8회 정주영 창업경진대회<br>결선 오프닝</p>
										</li>
										<li>
											<p><a href="https://www.youtube.com/watch?v=iewNgxHVfSY" target="_blank"><img src="../../content/images/9th/thumb/compet_video_02.jpg" alt="리본"></a><p>
											<p>리본</p>
										</li>
										<li>
											<p><a href="https://www.youtube.com/watch?v=mO4I7EZLERo" target="_blank"><img src="../../content/images/9th/thumb/compet_video_03.jpg" alt="모어사이언스"></a><p>
											<p>모어사이언스</p>
										</li>
										<li>
											<p><a href="https://www.youtube.com/watch?v=30-blIXNEkM" target="_blank"><img src="../../content/images/9th/thumb/compet_video_04.jpg" alt="디타임"></a><p>
											<p>디타임</p>
										</li>
									</ul>
									<div class="backPlay"></div>
								</div>
								<div class="summaryGal">
									<p>대회사진</p>
									<div id="gallery">
										<img src="../../content/images/10th/thumb/compet_img_sm_01.jpg" data-image="../../content/images/10th/thumb/compet_img_01.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_02.jpg" data-image="../../content/images/9th/thumb/compet_img_02.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_03.jpg" data-image="../../content/images/9th/thumb/compet_img_03.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_04.jpg" data-image="../../content/images/9th/thumb/compet_img_04.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_05.jpg" data-image="../../content/images/9th/thumb/compet_img_05.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_06.jpg" data-image="../../content/images/9th/thumb/compet_img_06.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_07.jpg" data-image="../../content/images/9th/thumb/compet_img_07.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_08.jpg" data-image="../../content/images/9th/thumb/compet_img_08.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_09.jpg" data-image="../../content/images/9th/thumb/compet_img_09.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_10.jpg" data-image="../../content/images/9th/thumb/compet_img_10.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_11.jpg" data-image="../../content/images/9th/thumb/compet_img_11.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_12.jpg" data-image="../../content/images/9th/thumb/compet_img_12.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_13.jpg" data-image="../../content/images/9th/thumb/compet_img_13.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_14.jpg" data-image="../../content/images/9th/thumb/compet_img_14.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_15.jpg" data-image="../../content/images/9th/thumb/compet_img_15.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_16.jpg" data-image="../../content/images/9th/thumb/compet_img_16.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_17.jpg" data-image="../../content/images/9th/thumb/compet_img_17.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_18.jpg" data-image="../../content/images/9th/thumb/compet_img_18.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_19.jpg" data-image="../../content/images/9th/thumb/compet_img_19.jpg" alt="대회 현장 사진">
										<img src="../../content/images/9th/thumb/compet_img_sm_20.jpg" data-image="../../content/images/9th/thumb/compet_img_20.jpg" alt="대회 현장 사진">
									</div>
								</div>
								<!-- //20190306 이미지 및 텍스트 수정 끝 -->
							</div>
						</article>
					</section>

					<script type="text/javascript">
						jQuery("#gallery").unitegallery({
							gallery_width: 1360,
							gallery_height: 778,
							gallery_theme: "compact",
							gallery_images_preload_type: "minimal",
							slider_control_zoom: false,
							slider_enable_text_panel: false,
							slider_enable_play_button: false,
							slider_enable_fullscreen_button: false,
							slider_enable_zoom_panel: false,
					//		slider_arrow_left_offset_hor: 40,
					//		slider_arrow_right_offset_hor: 40,
							strippanel_enable_handle: false,
							strippanel_background_color: "rgba(24, 61, 49, 0.75)",
					//		strippanel_padding_top: 20,
					//		strippanel_padding_bottom: 20,
					//		strippanel_padding_left: 40,
					//		strippanel_padding_right: 40,
					//		theme_panel_position: "bottom",
					//		thumb_width: 178,
					//		thumb_height: 109,
							thumb_border_width: 0,
							thumb_selected_border_width: 2,
							thumb_selected_border_color: "rgba(202,255,237,0.33)"
						});
					</script>


				</div><!--// grid -->
			</div><!--// history -->
		</div><!--// inner -->
	</div><!--// container -->

	<footer>
		<div class="ft-top v1">
			<div class="grid">
				<ul class="sponsor">
					<li class="sub-tit">후원</li>
					<li><a href="http://www.kocca.kr" target="_blank" title="새창열림">한국콘텐츠진흥원</a></li>
				</ul>
				<ul class="sns">
					<li class="asan">
						<a href="javascript:;" target="_blank" title="새창열림">
							<i></i>
							아산나눔재단
						</a>
					</li>
					<li class="instagram">
						<a href="javascript:;" target="_blank" title="새창열림">
							<i></i>
							Instagram
						</a>
					</li>
					<li class="blog">
						<a href="javascript:;" target="_blank" title="새창열림">
							<i></i>
							Blog
						</a>
					</li>
					<li class="youtube">
						<a href="javascript:;" target="_blank" title="새창열림">
							<i></i>
							Youtube
						</a>
					</li>
					<li class="subscribe"><a href="http://eepurl.com/dluA7r" class="btn" target="_blank" title="새창열림">뉴스레터 신청</a></li>
				</ul>
			</div><!--// grid -->
		</div>
		<div class="ft-btm">
			<div class="grid">
				<div class="bi">정주영 창업경진대회</div>
				<div class="contact">
					<ul>
						<li>서울시 강남구 역삼로 180</li>
						<li>TEL. 02-3453-1368</li>
						<li>E-Mail : <a href="mailto:startup@asan-nanum.org">startup@asan-nanum.org</a></li>
					</ul>
					<div>Copyright © The Asan Nanum Foundation. All rights reserved.</div>
				</div>
				<div class="privacy-policy"><a href="../../data/2021_terms.pdf" class="btn">개인정보처리방침</a></div>
			</div><!--// grid -->
		</div>
	</footer>
	<div class="mask"></div>
</body>
</html>